[2010-04-28 17:42] orbeckst opened #1 "setup fails if numpy not installed"
Because the version number is obtained by importing `gromacs.config`, this can fail if `numpy` is not available. This is bad because then easy_install will not be able to get numpy.

Traceback (most recent call last):
  File "setup.py", line 13, in <module>
    version = **import**('gromacs').get_version()
  File "/sansom/gfio/oliver/Library/python/GromacsWrapper/gromacs/**init**.py", line 231, in

[2010-04-29 10:33] #1 closed, assigned to nobody

[2010-09-24 11:18] orbeckst opened #2 "numkit.observables: division and additon wrong"
01e5917646bf53b1f07f452ef8d7a5c0039cf802 introduced a bug that messed up division and addition

[2010-09-24 11:23] #2 closed, assigned to nobody

[2010-09-24 11:25] orbeckst opened #3 "installation requires Gromacs environment"
Even installing requires a minimum Gromacs environment. This is annoying.

GromacsWrapper should "lazy-load" the gromacs tools (and their documentation) and not require them when just doing

 import gromacs

[2011-09-26 22:00] orbeckst opened #4 "use pyparsing for ITP/MDP files"
Currently, ad-hoc parsing is used (which is not very robust) to parse MDP (key=value) and ITP files (ini-style sections with implicit hierarchy and wildly different data depending on the section). A better alternative would be to use [pyparsing](http://pyparsing.wikispaces.com/ "pyparsing homepage").

[2011-12-01 21:21] orbeckst opened #5 "ITP parser only processes one molecule"
At the moment the ITP parser is limited to a single `[molecule]` section. Thus it will not correctly parse whole systems (from preprocessed topologies).

The parser should be enhanced to deal with multiple molecules.

[2011-12-01 21:29] orbeckst opened #6 "ITP parser drops [dihedral] sections"
`[dihedral]` sections in an ITP are not handled well at the moment:
1. Multiple _subsequent_ `[dihedral]` sections are merged into a single dihedral section (e.g. proper and improper dihedrals that have been separated in the ITP file for clarity). This is only an inconvenience as it still produces the correct topology.
2. If multiple `[dihedral]` sections are _separated by another section_ then **

[2011-12-28 20:22] ezitoc opened #7 "Error when giving input parameters to g_traj"
I get this error message when running the command gromacs.g_traj in a python script:

Traceback (most recent call last):
  File "run.py", line 32, in <module>
    gromacs.g_traj(f=MOL+"-md.trj", s=MOL+"-md.tpr", of="force.xvg", noz="", noy="", input=("6", "q"))
  File "/usr/local/lib/python2.7/dist-packages/GromacsWrapper-0.2.4-py2.7.egg/gromacs/core.py", line 265, in **call**
    return self.run(

[2011-12-29 19:08] #7 closed, assigned to nobody

[2012-03-23 17:38] orbeckst opened #8 "ITP parser does not parse .top files"
In principle the itp parser should also be able to read Gromacs topology files, which really are following the same syntax as itp files and are just name .top by convention (to show that they are the master file).

At the moment, a top file is read but only the header section is available.

[2012-05-11 17:19] orbeckst opened #9 "ITP #define expansion not supported"
The preprocessor does not recognize #define directives that define text such as

[code]

which defines the token _dih_chi1N_ that should be expanded in lines such as

[code]

It fails with

[code]

The preprocessor is very simplistic and only handles simple #ifdef/#ifndef decisions and not textual replacement.

[2012-05-20 18:40] jandom opened #10 "itp merging script"
Hi Oli,

I'm attempting to recreate a tool that everybody has - a topolgy merging script. Such script could be used to construct a complete phospholipid lipid topology from tail and head-group topologies, or to attach a lipid anchor to a protein topology.

I've figured out how to change the atoms/bonds/angles and other fields, to ensure a working topology when "n" itp files are merged; however, i'

[2012-05-20 23:46] #10 closed, assigned to nobody

[2012-05-23 00:22] orbeckst opened #11 "cbook.cat()/gw-join_parts: setting the base directory makes parts/full dirs appear in wrong place"
If one sets the basedirectory to e.g. foo (the place where the trajectory parts are located)

[code]

then the resulting directories will be

[code]

instead of

[code]

[2012-11-07 09:35] bk322 opened #12 "How do I specify program-suffix?"
Hi Oliver,

I wanted to try GW out -- in order to parse xvg files -- to plot the things with matplotlib. But my gromacs is built with

[code]

so You see -- my `g_` programs are called like

[code]

and not

[code]

so -- how do I specify a suffix? Currently when I `import gromacs` I get:

[code]

and yes -- I do `source GMXRC`.

Of cource -- I can tweak the util names in `~/.gromacswrapper.cfg` -

[2012-12-08 01:36] #12 closed, assigned to nobody

[2012-12-10 20:03] #3 closed, assigned to orbeckst

[2012-12-10 20:08] #11 closed, assigned to orbeckst

[2013-01-14 10:42] bk322 opened #13 "Can't access xvg metadata"
Hi Oliver, today I tried to plot xvg data in matplotlib. I read it with GromacsWrapper -- but can't access xvg metadata:

[code]

I need xaxis, yaxis and legend in particular:

[code]

I'm using bleeding edge GromacsWrapper, I get a moderate issue on startup:

[code]

I don't think it is relevant.

[2013-02-19 18:24] synapticarbors opened #14 "XPM reader does not handle multiple frames"
In attempting to read an .xpm file generated by `g_mdmat` with the `-frames` flag, the xpm reader fails with the error:

[code]

The xpm reader should probably detect multi-frame files, and either stack them into a 3D numpy array, or fail gracefully with an output to the reader that only single frames can be read.

I'm going to take a crack at proper handling of multi-frame files and will submit a

[2014-06-03 00:12] orbeckst opened #16 "docs for how to use plugins"
**Question:** _I just started using your gromacswrapper and I'm stucked with the energy plugin in gromacs.analysis. Could you sent me an example how it should work?_

**Answer:** very briefly: follow the [plugin example](http://orbeckst.github.io/GromacsWrapper/analysis/core.html#example)  in spirit but using the [energy plugin](http://orbeckst.github.io/GromacsWrapper/analysis/plugins.html#gromac

[2014-07-09 19:33] jandom opened #17 "Minor changes to XVG reader"
Hi Oli,

I just wanted to get your opinion on two changes I made recently. It's my first time playing with GW so it may be rough.

gromacs.fileformats.XVG will now read the names of the data columns from the legend. Also, the legend config will be loaded and stored in the metadata. These changes are made in ffcc021885c371c033b6a0800376f8938c67b8a5

You probably have heard of pandas, I think it's a

[2015-04-08 07:32] #17 closed

[2015-10-03 17:18] richardjgowers opened #20 "fileformats submodule missing?"
I'm trying to read an ITP file, like here:

http://becksteinlab.github.io/GromacsWrapper/gromacs/core/fileformats/itp.html

And I get:

[code]

[2015-10-04 16:28] orbeckst commented on #20
Thanks for the PR & fix. Just be aware that reading of ITPs is fraught with difficulties, see most of the [issues tagged with fileformat](https://github.com/Becksteinlab/GromacsWrapper/labels/fileformats).

[2015-10-04 16:28] #20 closed

[2015-10-04 16:34] orbeckst opened #22 "update links in docs"
Docs still contains links to the orbeckst/GromacsWrapper repo and my personal email address (just use the issue tracker).

[2015-10-04 16:37] orbeckst opened #23 "unit tests framework"
Unit tests (with CI) would be great. Given that there are deb packages of Gromacs, one could test multiple versions of Gromacs (especially 4.6.x vs 5.0.x vs 5.1.x) but this is a lot of work at the moment.

[2015-11-24 21:37] MichalKononenko opened #24 "Readthedocs hosting"
Why are we building docs in the repo when [readthedocs](https://readthedocs.org/) can host them for us?

[2015-11-30 04:42] orbeckst commented on #24
Fair comment, although RTD didn't work nicely for me for a long time. If all looks ok with the current releases we can removed the built docs from the repository.

[2015-11-30 04:42] orbeckst commented on #24
http://gromacswrapper.readthedocs.org/en/latest/ looks ok...

[2015-11-30 05:43] orbeckst commented on #14
Joao M. Damas  suggested on gmx-users (24 Oct 2014) [numerical matrix from xpm file](https://mailman-1.sys.kth.se/pipermail/gromacs.org_gmx-users/2014-October/093177.html) that the next line should read:

[code]

"if one is using higher `-nlevels` for the .xpm construction (in `g_rms`, for example)"

Someone would need to test it.

(I just found the above comment in the source code and added it to

[2015-11-30 05:54] #22 closed

[2015-11-30 06:00] orbeckst commented on #24
Closed with ef62459

[2015-11-30 06:00] #24 closed

[2015-12-16 01:26] dotsdl opened #26 "How do you make this work with gromacs 5.1.x?"
With gromacs 5.1 comes the disappearance of the use of gromacs tools on their own. For example,  `trjconv` now must be called with `gmx trjconv`. What changes need to happen to the library to make this work?

[2015-12-16 08:29] orbeckst commented on #26
It's a bit cumbersome but you "just" have to edit your configuration file.I just pushed out 0.4.0 and that should also update the docs.

In the tools section, describe `gmx trjconv` as
[code]
There are a few hard-coded hacks in there that alias new to old names (such as genbox). See 9208d52d2323b57866b2a600659cb75b400b03ff .

[2015-12-16 09:01] orbeckst commented on #26
See http://gromacswrapper.readthedocs.org/en/develop/gromacs/core/config.html#gromacs-tools-and-scripts ; took me a while to get RTD to build again. (master/latest should also be available again soon)

[2015-12-17 00:03] dotsdl commented on #26
Okay, I edited my `~/.gromacswrapper.cfg` file to include only names in the current release (5.1.1) of gromacs with the `gmx:` prefix, removing old ones. That was a bit of work...

Looks like there might be few hard-codes left in the codebase; there's at least one [here in the cookbook](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/cbook.py#L166).

Should we make this issue t

[2015-12-17 00:22] orbeckst commented on #26
Instead of cleaning up the "hard codes" I'd actually favor a compatibility layer that allows you to either use 4.x or 5.x. That would be useful, at least for the next year or so where we are almost certainly still using 4.x from old projects and 5.x for new ones.  The [current hack in gromacs.tools](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/tools.py#L198) is not pretty at

[2015-12-19 15:21] orbeckst opened #31 "include docs for new top parser"
@jandom, please add appropriate links and files to the sphinx docs so that the doc strings for the new top parser PR #25 also show up in the [online docs under core.formats](http://gromacswrapper.readthedocs.org/en/develop/gromacs/core/formats.html). In particular, you need an entry in [doc/sphinx/source/gromacs/core/formats.txt](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/doc/sphi

[2016-01-19 05:17] orbeckst opened #32 "docs incomplete on readthedocs"
There are huge gaps in the autogenerated docs on http://gromacswrapper.readthedocs.org. Needs to be read, checked, and fixed.

Example: missing docs for most building block modules: http://gromacswrapper.readthedocs.org/en/latest/gromacs/building_blocks.html

[2016-02-11 21:33] jandom commented on #23
Hi Oli,

I'm working on this. The best set of tests+data files I found actually belongs to pandas - I'm inspired by their structure. It's much simpler than anything I've seen (especially the datafile linking...)

My main aim will be to:
- [ ] setup the testing boilerplate
- [ ] add tests for the TOP reader I contributed

[2016-02-26 21:51] orbeckst commented on #23
When #34 is merged we will close this issue and then raise individual issues for the necessary tests.

[2016-02-26 21:53] orbeckst opened #39 "set up CI"
Once we have a tests infrastructure in place #23, we need
- [x] Travis CI
- [x] coverage
- [x] add test and coverage badges to README

[2016-03-31 15:09] bieniekmateusz opened #40 "`sudo pip install` broken"
Dear GromacswRappers,

I've just installed the GromacsWrapper using pip. Unfortunately, when I try to import any of the available tools, I run into this:

Hints on how to resolve it are welcome. Thanks

[2016-03-31 15:27] bieniekmateusz commented on #40
Apparently, the first time I tried to import gromacs the errors was different:

I resolved the error using a workaround:
sudo chown myusername /usr/local/lib/python2.7/dist-packages/gromacs/external/GridMAT-MD_v1.0.2/GridMAT-MD.pl

[2016-03-31 19:02] orbeckst commented on #40
That's just awesome ;-)

* How exactly did you install?
* Which version of GW?

I normally install GW as a local user
[code]
or in a virtualenv and I tried out both 0.4.0 (the last release) and the current develop 0.4.1.dev0 and both worked for me (`import gromacs`).

[2016-03-31 19:20] bieniekmateusz commented on #40
This is the first time I hear about local user installation in pip. Sounds like a useful option, thanks.

The version is 0.4.0

I used the following command:
sudo pip install GromacsWrapper

[2016-03-31 22:55] orbeckst commented on #23
#34 was merged... so we officially have a nucleus of tests. Thanks @jandom ... onwards and upwards.

[2016-03-31 22:55] #23 closed

[2016-03-31 22:59] orbeckst commented on #40
Hm, `sudo pip install` should not give any issues.

Could you nevertheless try to

1. Uninstall the global package (the one one in `/usr/local`)
2. Try `--user` installation.

[2016-03-31 23:02] #4 closed

[2016-04-01 09:07] bieniekmateusz commented on #40
Looks like it's working:

1. sudo pip uninstall GromacsWrapper
2. pip install GromacsWrapper --user

Importing the gromacs package does not give any errors.

[2016-04-01 09:14] orbeckst commented on #40
I am glad that it's working now but eventually I'd like to find out why a `sudo` install failed.

On 1 Apr, 2016, at 02:08, Mateusz Bieniek wrote:

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-04-01 09:23] bieniekmateusz commented on #40
Let me know if I can assist further.

The error was that the os.chmod is used in python:

However, the file belongs to root (likely because of sudo during installation). The python interpreter however is executed in the user mode. This all leads to the error:

[2016-04-01 09:46] orbeckst commented on #40
Thanks, that's a very useful diagnosis. I renamed the issue and I am reopening it because installation with `sudo pip install` should work.

[2016-04-01 09:48] orbeckst commented on #40
Btw, the most likely solution is going to be to remove gridmatmd --- I don't think that anyone is using it and there are better tools available nowadays.

[2016-04-01 09:50] orbeckst opened #41 "remove gridmatmd"
`gridmatmd.pl` does not seem to be used (at least through GW) and there are better tools available. It currently breaks `sudo pip install` #40 and it's an ugly hack... so let's get rid of it.

- [ ] remove gridmatmd.pl
- [ ] remove from template config file
- [ ] remove ~~from tools~~ `analysis/plugins/gridmatmd.py`
- [ ] remove from docs

[2016-04-03 17:18] frchalaoux opened #42 "Install problem : Failed to find Gromacs command 'grompp'"
Hi Oliver,

I have a problem to install GromacsWrapper with Gromacs 5.1.2. When I tried to build the library as below I got an error:

[code]

Gromacs is installed in /usr/local/gromacs and in bin directory everything seems to be present:

[code]

Before to build, I sourced GMXRC and exported the gromacs/bin path to $PATH

Oliver have you any idea about this problem ?

FR.

[2016-04-03 18:09] orbeckst commented on #42
I think the problem is that the current version of GW still assumes Gromacs 4.6.x instead of Gromacs 5.1.x --- see #26 and the docs  http://gromacswrapper.readthedocs.org/en/develop/gromacs/core/config.html#gromacs-tools-and-scripts .

Basically, change your `.gromacswrapper.cfg` file to look similar to the following where you prefix new commands with **gmx:** so that GromacsWrapper will look for

[2016-04-03 18:09] orbeckst commented on #42
Btw, maybe @dotsdl can chime in with a working 5.1.x configuration?

[2016-04-05 14:05] frchalaoux opened #43 "GridMAT-MD problem"
Hi,

When I start an import of gromacs in my python interpreter I obtain this message.
What do I need to correct in my system ?

FR.
[fchalaoux@frtow0216 Lysozyme2]$ python
Python 2.7.11 |Anaconda 2.5.0 (64-bit)| (default, Dec  6 2015, 18:08:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Cont

[2016-04-05 14:19] frchalaoux commented on #43
Should I have to apply https://github.com/Becksteinlab/GromacsWrapper/issues/41
before build GW ?

FR.

[2016-04-05 14:33] frchalaoux commented on #41
Hi,

Ok for gridmatmd.pl, I suppose you think about /site/tl/home/fchalaoux
/GromacsWrapper-develop/gromacs/external/GridMAT-MD_v1.0.2/GridMAT-MD.pl ?

But for the others, where are the paths of these objects in the distribution  to remove ?

FR.

[2016-04-05 20:13] whitead opened #44 "support Python 3"
Are you planning on adding Python 3 support? I see some mention of 2to3 in the commits, not couldn't find a description anywhere else. Thanks!

[2016-04-06 00:35] orbeckst commented on #41
The list just says that gridmatmd shows up in various parts of the code. Probably the best way to find them is to run
[code]

It turns out that it's not in tools but in `analysis/plugins/gridmatmd.py`... so it should be easy to remove.

[2016-04-06 00:36] orbeckst commented on #41
If you want to do this, I'd be more than happy if you send a pull request.

[2016-04-06 00:39] orbeckst commented on #43
I think it would help if #41 was solved.

How did you install GromacsWrapper? I am not sure why it seems to run from the build directory? Are you running python from inside the GW sources? (What does `pwd` say?)

[2016-04-06 09:12] frchalaoux commented on #43
Hi,
I installed GW with python setup.py build, then python setup.py install
I'm running python and import gromacs from outside GW.

[2016-04-06 16:10] whitead commented on #26
Do you think it would be possible to improve the configuration a little bit to detect available tools and release version? For example, I could generate templates for a few different gromacs versions and then use `gmx info` or the first line of `grompp` to detect the version. I can write this if this sounds feasible/useful.

[2016-04-06 16:47] orbeckst commented on #26
That would be awesome!

--
Oliver Beckstein
email: orbeckst@gmail.com

Am Apr 6, 2016 um 9:10 schrieb Andrew White <notifications@github.com>:

[2016-04-06 17:42] dotsdl commented on #44
I think we'd like to, but the library doesn't have regular development at the moment. @orbeckst can we get a rough list of what needs to get done to make GromacsWrapper work under Py3? Then we can get to work knocking these components out piecemeal.

[2016-04-07 00:31] orbeckst commented on #44
Not sure what is needed at the moment; it;s probably not a big deal because there's no C/Cython code. Using six will probably do the job.

Perhaps run 2to3 and check if that's enough to get it to import, then use six to make it work under 2 and 3.

On 6 Apr, 2016, at 10:42, David Dotson wrote:

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-04-07 05:27] #40 closed

[2016-04-07 05:27] #41 closed

[2016-04-07 05:28] orbeckst commented on #41
@frchalaoux can you check that installation is working now?

[2016-04-07 05:41] orbeckst commented on #40
@bieniekmateusz can you check if the latest development version fixed this problem and let us know?

[2016-04-07 05:42] orbeckst commented on #43
Can you check that installation is working, now that #41 has been completed?

[2016-04-07 06:07] orbeckst opened #47 "use tempdir in tests"
The current tests litter gromacs files and trajectories into the current directory. We should use [tempdir](https://pypi.python.org/pypi/tempdir/) to make sure that all temp files are properly contained and cleaned up afterwards.

[2016-04-07 12:59] frchalaoux commented on #41
OK,but how to clean properly my previous install with python setup.py install ?

[2016-04-07 13:25] frchalaoux commented on #43
Better with the last https://github.com/Becksteinlab/GromacsWrapper.git with your clean of GridMAT-MD. But even beeing outside GromacsWrapper install folder and having sourced GMRC; change my .gromacswrapper.cfg for grompp to gmx:grompp or gmx_mpi:grompp or gmx_mpi:Grompp ,  I got always the following problem.

[fchalaoux@frtow0216 ~]$ python
Python 2.7.11 |Anaconda 2.5.0 (64-bit)| (default, Dec

[2016-04-07 17:03] orbeckst commented on #41
On 7 Apr, 2016, at 05:59, frchalaoux wrote:

Find out where it was installed (eg in ipython

       import gromacs
       gromacs??

and look at the filename.

Then

   rm -r /path/to/gromacswrapper

If you can't find out where it is installed, just install again in the same way as before and note the path. Paste the output.

There might also be some other files where the path is being entered. Po

[2016-04-08 06:32] orbeckst commented on #43
Please post

1. your .gromacswrapper.cfg
2. `source GMXRC` and output of `which grompp`

[2016-04-08 06:34] orbeckst commented on #42
#43 now seems to be the same as this problem.

[2016-04-08 06:35] orbeckst commented on #43
I am closing this issue (the GridmatMD problem seems to be solved) and we continue the discussion at #42 --- please post your cfg and path info there.

[2016-04-08 06:35] #43 closed

[2016-04-08 06:37] orbeckst commented on #42
Picking up from #43: @frchalaoux can you please post

1.  your `.gromacswrapper.cfg`
2.  show the exact name and path of `grompp` by showing the output of

[code]

[2016-04-08 07:26] orbeckst commented on #39
For most of the tests we need to install Gromacs as well. This *should* be possible through `aptitude` on the containerized Travis infrastructure.

* Gromacs 4.6.5 is available as [trusty (14.04 LTS): gromacs (4.6.5-1build1) [universe]](http://packages.ubuntu.com/trusty/gromacs)
* Gromacs 5.0.x: [wily: gromacs (5.0.6-1) [universe] ](http://packages.ubuntu.com/source/wily/gromacs)
* Gromacs 5.1.x:

[2016-04-08 08:30] frchalaoux commented on #42
@orbeckst
Hi,
1/  source GMXRC

2/$ which gmx_mpi
/site/tl/app/x86_64/discovery/academic/gromacs/5.0.4/icc-2015_mkl_openmpi-1.8.5_plumed-2.1.3-sp-AVX2/bin/gmx_mpi

3/ $ which gmx_mpi grompp
/usr/bin/which: no gmx_mpi grompp in (/site/tl/app/x86.....)

4/ which grompp
/usr/bin/which: no grompp in (/site/tl/app/x86_64/

5/ I attache my cfg file with a pdf extension you will ahave to change to cfg
[g

[2016-04-08 09:52] orbeckst commented on #42
Thanks, the problem is that your "gmx" command is actually called "gmx_mpi". GW has no idea how to deal with this at the moment.

Can you please open an issue "allow use of Gromacs 5.1.x gmx_mpi command instead of gmx"?

Thanks,
Oliver

On 8 Apr, 2016, at 01:30, frchalaoux wrote:

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-04-08 11:43] frchalaoux opened #48 "Allow use of Gromacs 5.1.x gmx_mpi command instead of gmx"
My IT created a command gmx_mpi to contrast with a simple Gromacs installation.
But I can create an UNIX alias (alias gmx=gmx_mpi) to get around the problem !? My Gromacs command seems to work but for GW it not may be sufficient ?
So, may be It could be possible to allow GW use internally of Gromacs 5.1.x gmx_mpi command instead of gmx

[2016-04-08 11:43] frchalaoux commented on #48
My gromacs at work is 5.0.4.

[2016-04-08 11:44] #42 closed

[2016-04-08 17:20] orbeckst commented on #48
@frchalaoux thanks for opening this issue as a follow-up to #42.

Just creating a shell alias will not be enough. However, as a quick work-around you could ask them to install a *symbolic link*:
[code]

Of course, we also want to fix this within GromacsWrapper. What do you (and perhaps @whitead ) think of the idea to interpret
[code]
in the cfg file to mean that GW should really call `gmx_mpi mdru

[2016-04-08 18:32] dotsdl opened #49 "Switch to YAML format for GromacsWrapper configs"
To make it possible to support multiple versions of gromacs installed on a single machine, as well as to make it easier to support custom user environments, we should switch from a INI-style config to a YAML configuration.

A portion of this config would go a long way in solving #48 and #26. For example, the schema for the tools available from various versions of gromacs could look like:

[code]

[2016-04-08 18:33] dotsdl commented on #49
I may poke at this this weekend, since I'm gearing up to use GromacsWrapper extensively again.

[2016-04-08 19:01] orbeckst commented on #49
As we just discussed, definitely a step in the right direction, I'd very much like to see something like this. It's going to be a bit of a hassle to convert existing cfg files but a user only has to do this once (and maybe we can even cook up a script to do this when the time comes).

For the name collisions I would just raise an error and have the user make the names unique within one version. (W

[2016-04-08 19:31] whitead commented on #49
I think the user should only have to specify the version, prefix command (gmx), suffix, and if to use a separate command for mdrun. We should have a list of tool names for each version and generate a configuration file that way. I'm not sure what advantage the YAML format offers, but whatever you guys think is best.

I agree there is the issue of the API instability of GromacsWrapper tool names. T

[2016-04-08 20:20] orbeckst commented on #49
**tl;dr**: Need to make a decision how much the user installation of Gromacs (names) should be reflected in GW tool names.

Let me comment on the points you edited out because they're good points:

I forgot about single/double precision suffix. In 4.x this was suffixed to the tool name as in `mdrun_d` or `grompp_d`. How is this done in 5.x?

Only specifying the driver command and suffix be easier:

[2016-04-09 15:29] frchalaoux commented on #48
And how will react GW  with in the same cfg file, gmx_mpi:mdrun gmx:grompp gmx:mdrun ?

[2016-04-09 16:12] frchalaoux commented on #49
On my system, each Gromacs environnent is loaded with "module load gromacs-xxx", Therefrom I imagine I can move the rigth config (cfg, templates, scripts, ...) in my home. A config file per version could be enought but why not have multiple versions in cfg, Ultimately GW will read the right section corresponding to your gromacs-xxx !?

[2016-04-09 21:00] orbeckst commented on #48
I'll leave this issue open until we have a solution --- maybe #49 --- but it's not solved yet.

There needs to be sufficient flexibility so that a user can adapt it to their environment. I typically have serial and mpi versions in the same path (basically, same GMXRC) so I would want to have both `gmx_mpi mdrun` and `gmx mdrun` available. But this might be very different for others.

[2016-04-11 09:49] lrohrwasser opened #50 "Using interactive Gromacs commands"
Dear all,
i have a very basic question concerning gromacs' interactive commands, as I would like to run the commands automatically.
There is a description in the gromacs documentation for the problem: http://www.gromacs.org/Documentation/How-tos/Using_Commands_in_Scripts
So now I wonder if there is also an easy way that GromacsWrapper can handle interactive commands?

Thanks a lot in advance,
Lisa

[2016-04-11 17:59] orbeckst commented on #50
Going with the example,
[code]

would be in GW (e.g. inside `ipython` or the `python` interpreter)
[code]

[2016-04-11 18:48] dotsdl commented on #39
We can use conda. There are builds provided by acellera: https://anaconda.org/acellera/gromacs

[2016-04-11 20:45] dotsdl commented on #32
We can use [conda](http://docs.readthedocs.org/en/latest/conda.html) to build environment on readthedocs now. We use this for [MDSynthesis](http://mdsynthesis.readthedocs.org/) and it works quite well. Happy to set this up.

There are conda gromacs builds from acellera we can use to grab a recent gromacs to build classes against: https://anaconda.org/acellera

[2016-04-11 21:36] orbeckst commented on #32
Please try it!

[2016-04-11 21:37] orbeckst commented on #50
See also in docs under [Simple Usage](http://gromacswrapper.readthedocs.org/en/develop/gromacs/init.html#simple-usage).

[2016-04-13 21:37] dotsdl commented on #32
Okay, we have docs that build the environment, including gromacs 5.1, using conda: https://readthedocs.org/projects/mdsynthesis/builds/3881150/

But, when building the class docs for the building blocks, we get errors because the config we ship with is for gromacs 4.x, and so things like ``grompp`` can't be found. Quick and dirty solution is to replace current [gromacswrapper.cfg](https://github.c

[2016-04-13 22:39] orbeckst commented on #32
There are Ubuntu packages that we can use for 4.x … probably in parallel to condo packages.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-04-13 23:06] dotsdl commented on #32
@orbeckst how would we do this under readthedocs? We can't use ``apt`` to build the environment on readthedocs.

[2016-04-13 23:08] orbeckst commented on #32
You’re right, of course. I was thinking about Travis…

If we can have 5.x on RTD then perhaps we should just ship with 5.x cfg.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-04-14 05:34] dotsdl commented on #32
I'll change the existing config to work for gromacs 5.x on the development branch, then. If #49 gets done soonish, then we can support gromacs 4.x out of the box, too.

[2016-04-14 05:36] orbeckst commented on #32
On 13 Apr, 2016, at 22:34, David Dotson wrote:

Sounds good.

[2016-04-14 14:27] scbarton opened #51 "Failure loading file formats module using gromacs 5.1.1"
I applied the fix described in [Issue 42](https://github.com/Becksteinlab/GromacsWrapper/issues/42) to enable use of GW with gromacs 5.1.1. However this change prevented the loading of some modules. For example the command `import gromacs.fileformats as f` returned this error:
[code]

Fortunately I can remove the fix and successfully import `fileformats`, but I'd like to use both `fileformats` and

[2016-04-18 21:38] orbeckst commented on #51
@scbarton , sorry for the delay in responding, been busy.
I am a bit puzzled by the error message because from it I cannot discern why changing the cfg file would lead to such an import error. I also have no idea why Python says "cannot import name file formats" (space between "file" and "formats").

Could you post your version of the cfg file? I can then try it locally and see if I can reproduce

[2016-04-18 21:39] orbeckst commented on #50
Did this answer help? If yes, I can close the issue, otherwise I can try to help further.

[2016-04-20 14:11] scbarton commented on #51
Here's my [config file](https://github.com/Becksteinlab/GromacsWrapper/files/228042/gromacswrapper.cfg.txt), copied directly from [Issue 42](https://github.com/Becksteinlab/GromacsWrapper/issues/42)

Below I attempt to import gromacs twice, with different errors each time. The fileformats error is in the second attempt, it may be a namespace issue due to the second import.

[code]

[2016-04-20 18:09] dotsdl commented on #42
For what it's worth, here's my working 5.1.1 config:

[code]

[2016-04-20 18:10] dotsdl commented on #51
@scbarton can you try out my [``gromacswrapper.cfg``](https://github.com/Becksteinlab/GromacsWrapper/issues/42#issuecomment-212539517)? We're in the process of revamping the config format ( #49 ), but until then this is all a bit hacky.

[2016-04-20 18:22] dotsdl commented on #51
Note that I'm also using the ``develop`` branch of GromacsWrapper at the moment, and I know that the current release fails with this config due to the presence of the GridMatMD stuff ( #41 ) that was recently removed.

[2016-04-20 18:28] orbeckst commented on #51
The problem appears to be that the import of cbook is not failing gracefully when some tools are not present and then stuff fails down the road.

1. Do you find the Gromacs tools in the shell, i.e. `which gmx` gives you something?
2. Are you using the latest develop branch that includes @whitead 's compatibility fix #46 ?

[2016-04-20 18:32] orbeckst commented on #26
PR #53 switched the default over to 5.x configuration so I am closing this issue.

Further work (#49 etc) needs to address how to make this work with old 4.x installations.

[2016-04-20 18:32] #26 closed

[2016-04-20 18:37] dotsdl commented on #32
So, things are looking better (gromacs tools like like they're being found), but we're still getting some failures. Have a look at the output of the sphinx invocation. I'm not sure what's going on here with just a quick glance: https://readthedocs.org/projects/gromacswrapper/builds/3927393/

[2016-04-20 19:15] orbeckst opened #54 "Working with Gromacs 4.x"
The default configuration file assumes Gromacs 5.x (see PR #53). If you want to use Gromacs 4.x you need a different config file such as the [previous version of gromacswrapper.cfg](https://github.com/Becksteinlab/GromacsWrapper/blob/e18d26038858a433d0e6318f4375d19d8b21858f/gromacs/templates/gromacswrapper.cfg).

With #49 we should get a mechanism to easily switch between versions.

[2016-04-20 19:17] orbeckst commented on #26
I opened #54 for working with Gromacs 4.x.

[2016-04-20 19:38] orbeckst commented on #32
Not really sure, I find sphinx output difficult to digest. I need to look at it locally.

Just as a note on what needs fixing:

[gromacs – GromacsWrapper Package Overview](http://gromacswrapper.readthedocs.org/en/develop/gromacs/init.html) has dead links to
* gromacs.formats
* gromacs.setup

even though [gromacs.formats](http://gromacswrapper.readthedocs.org/en/develop/gromacs/core/formats.html) e

[2016-04-21 12:04] scbarton commented on #51
With the `gromacswrapper.cfg` from @dotsdl and the dev branch, I was able to import gromacs including `gromacs.fileformats`. Thanks!  I did get this warning message though:
[code]

[2016-04-21 12:05] #51 closed

[2016-04-21 15:49] orbeckst commented on #51
Glad that this is working.

Is there a gmx:mindist in the cfg file? If so you can remove it.

--
Oliver Beckstein
email: orbeckst@gmail.com

Am Apr 21, 2016 um 5:04 schrieb scbarton <notifications@github.com>:

[2016-04-26 13:55] lrohrwasser commented on #50
Yes, thanks a lot! It helped ;-)

[2016-04-26 13:55] #50 closed

[2016-05-11 15:42] frchalaoux commented on #48
The tip "ln -s gmx_mpi gmx seems to work. It stay one problem with the _mindist_ command (see below). In my .gromacswrapper.cfg you can read that  _gmx:mindist_ is present. Trust me !
I don't know why, any idea ?

Cheers, FR.

In [1]: import gromacs
/site/tl/work/users/fchalaoux/Computing/anaconda25/lib/python2.7/site-packages/GromacsWrapper-0.4.1.dev0-py2.7.egg/gromacs/__init__.py:274: GromacsImp

[2016-05-11 23:19] orbeckst commented on #48
I think `mindist` does not exist in Gromacs 5.x any more. *Remove it from your .gromacswrapper.cfg*.

[2016-05-12 09:32] frchalaoux commented on #48
What do you think of that ?

FR

[fchalaoux@frtow0216 ~]$ gmx_mpi mindist -h
GROMACS:    gmx mindist, VERSION 5.0.4

GROMACS is written by:
Emile Apol         Rossen Apostolov   Herman J.C. Berendsen Par Bjelkmar
Aldert van Buuren  Rudi van Drunen    Anton Feenstra     Sebastian Fritsch
Gerrit Groenhof    Christoph Junghans Peter Kasson       Carsten Kutzner
Per Larsson        Justin A. Lemkul   M

[2016-05-12 15:07] orbeckst commented on #48
Ok, you proved me wrong. ;-)

Not sure what's going on. I'll need to take a closer look.

--
Oliver Beckstein
email: orbeckst@gmail.com

Am May 12, 2016 um 2:32 schrieb François-Régis Chalaoux <notifications@github.com>:

[2016-05-23 23:58] orbeckst opened #56 "release 0.5.0"
Get out a 0.5.0 release so that we can use it from PyPi.

Will push the CI and tests to a 0.5.1.

[2016-05-24 19:14] orbeckst commented on #39
@dotsdl can you add the travis stuff from MDPOW? This seems to be *almost* working.

[2016-05-24 19:34] #31 closed

[2016-05-24 19:49] dotsdl commented on #39
Yes. I'll convene with @ianmkenney and we'll slay this one.

[2016-05-24 21:30] orbeckst opened #59 "add AUTHORS"
people...

[2016-05-24 21:34] orbeckst commented on #32
The docs build locally with sphinx. I will close this issue if they build on RTD.

[2016-05-24 21:35] #59 closed

[2016-05-24 21:52] orbeckst commented on #56
I'll push out a 0.5.0. We'll do a 0.5.1 for fixes, docs, and tests.

[2016-05-24 22:24] orbeckst commented on #56
GromacsWrapper 0.5.0 released with packages on pypi.

Thanks everyone.

[2016-05-24 22:24] #56 closed

[2016-05-24 22:31] orbeckst commented on #32
Everything builds on RTD. Minor doc things will be corrected in 0.5.1.

[2016-05-24 22:31] #32 closed

[2016-05-25 03:36] dotsdl commented on #39
We now have working CI, but some of the tests are failing. Haven't dug into fixing these yet; check the test output for starting points: https://travis-ci.org/Becksteinlab/GromacsWrapper

Coverage reads at 88%. Not bad, but I guess we cheat a bit since we generate many classes dynamically.

[2016-05-25 06:22] orbeckst commented on #48
Closed with PR #57.

[2016-05-25 06:22] #48 closed

[2016-05-25 06:25] orbeckst commented on #48
(@whitead I assigned you to the issue post-closing because you actually solved it.)

[2016-05-25 06:26] orbeckst commented on #48
@frchalaoux if the problem with `gmx_mpi mindist` persists even with the new GW 0.5.0 then please open a new issue specifically for it. Thanks!

[2016-05-25 06:53] orbeckst commented on #39
@dotsdl : I don't see the coverage at https://codecov.io/gh/Becksteinlab/GromacsWrapper — is this because `codecov` is only ran when the tests pass?

And the [output from travis](https://travis-ci.org/Becksteinlab/GromacsWrapper#L343) seems to indicate that the 88% coverage are the coverage *in the test files*, not in the code itself.

I added the badges to the README but until coverage shows up i

[2016-05-25 07:06] dotsdl commented on #39
@orbeckst ah sorry, didn't look closely enough at what was included in coverage. I'll fix this.

[2016-05-25 07:11] dotsdl commented on #39
K...now with better accounting, coverage looks like about 30%. I think codecov doesn't pick up failed builds, either, so we have to get these passing before that is fixed, too.

[2016-05-25 18:47] orbeckst opened #61 "top reader is mostly broken"
Not all of the current tests pass. Need to either fix bugs or adjust tests.

[2016-05-25 20:59] orbeckst commented on #61
@jandom can you have a look – you wrote most of these tests.

With Gromacs 4.6.5, I get the following
[code]

Same failures with `py.test`:
[code]
Part of the output:
[code]

[2016-05-25 21:53] ianmkenney opened #62 "Gromacs 5 does not use the genbox command"
I found that gromacs.setup.solvate() calls genbox, which is no longer a valid gromacs command. This causes errors when using Gromacs 5.x.

[2016-05-25 23:26] orbeckst commented on #62
I think `gmx solvate` is completely equivalent.

GW should define an alias... will raise an issue there.

[2016-05-25 23:42] orbeckst commented on #62
closed in ef66d3e

[2016-05-25 23:42] #62 closed

[2016-05-25 23:43] orbeckst commented on #62
(`gmx solvate` is not *completely equivalent* because it misses the `-ci` insertion option... but the aliases are a bit fragile anyway so I think the alias will solve 95% of the problems.)

[2016-05-26 00:09] orbeckst commented on #44
I had a look and from browsing the `2to3` patches it seems that we can do pretty much everything with a `six` compatibility layer. It's a bit of boring work but doable.

[2016-06-05 21:10] ianmkenney opened #63 "Gromacs 5.x energy minimization not falling back to mdrun from mdrun_d"
in `gromacs.setup.energy_minimize` the algorithm to determine which mdrun binary to use is:

[code]
This should, in practice invoke `gmx mdrun <options>` instead of `gmx mdrun_d <options>` (which should actually be `gmx_d mdrun`). I think that this worked in gromacs 4.x because the binary was just `mdrun` or `mdrun_d`. So, if `mdrun_d` was not found `mdrun` would take over. Since the binary being

[2016-06-06 22:17] ianmkenney opened #64 "Gromacs 5.x MDrunner class implementation incompatibilities"
I have found two errors in regards to the MDrunner class and the `check_mdrun_success` function found in `run.py`.

1. Command passed to subprocess in the class method `run` does not include `gmx`, resulting in an `OSError`
2. `check_mdrun_success` searches the last couple of lines of the log file for the string `"Finished mdrun on node"` at the start of the line, while a successful run writes `"F

[2016-06-06 23:09] orbeckst opened #65 "make MDrunner configurable"
`MDrunner` currently only use Gromacs 4.x commands (see #64), which leads to problems in workflows ~~(eg see #63)~~.

Usage of `mdrun` and `mpiexec mdrun` (and `gmx mdrun` etc) should be configured in the cfg file (see possibly discussion at #49) and then used by `MDrunner`.

[2016-06-07 01:22] orbeckst commented on #49
@pslacerda suggested that by default we should just be autodetecting the standard gromacs tools (https://github.com/Becksteinlab/GromacsWrapper/pull/55#issuecomment-222567986) if the user sourced GMXRC or if the GMXRC was provided in the cfg file.

This would be as simple as

* For Gromacs 5: parse `gmx help commands`:

[code]

* For Gromacs 4 [look for executable files](http://stackoverflow.com/q

[2016-06-07 01:34] orbeckst commented on #54
I added a 4.6.5 cfg file as [gromacs/templates/gromacswrapper_465.cfg](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/templates/gromacswrapper_465.cfg) in c694d5c1151a0ffbb5a0ec6f506d0299ce948524.

[2016-06-07 01:36] orbeckst commented on #16
Just FYI: I don't think that the analysis plugins will see much further development and might become deprecated and eventually removed.

[2016-06-09 03:24] pslacerda commented on #49
Hi committers!

If we autodetect the tools we could reduce the size of config files and simplify the code. YAML is a neat and structured format but probably requires an external package. We can also use ini files as usual where the section titles indicate the nesting:

    [Gromacs]
    logfile = /path/to/logfile
    GMXRC = /defaut/GMXRC

    [Gromacs/5.0]
    GMXRC = /usr/local/gromacs5/bin/GMXR

[2016-06-09 23:34] orbeckst commented on #49
Installing [pyyaml](https://bitbucket.org/xi/pyyaml) is easily installed together with everything else so I am not too worried. And yaml just has better support for logical data structures. I dislike parsing information from e.g. headers – rather I use the right tool for the job.

I like a simplified cfg file and doing the auto-detection by default.

[2016-06-09 23:39] orbeckst commented on #49
Btw, if **traitlets** seem to work better as suggested by @whitead in https://github.com/Becksteinlab/GromacsWrapper/issues/49#issuecomment-207570275 then we could try them instead of yaml. I just don't have any experience with them. What would a mock-up of a configuration look like with traitlets?

[2016-06-09 23:41] orbeckst commented on #61
Hi @jandom I know that you're busy but could you have a quick look at why some of your tests broke?

[2016-06-09 23:42] orbeckst commented on #39
I can close this issue when I get coverage on travis but for this to happen, all current tests must pass, i.e., #61 must be fixed.

[2016-06-10 00:43] #63 closed

[2016-06-28 00:53] orbeckst commented on #54
If you want to quickly "install" the [gromacswrapper_465.cfg](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/templates/gromacswrapper_465.cfg) as `~/.gromacswrapper.cfg` use
[code]

(Note: overwrites any existing `~/.gromacswrapper.cfg` file!)

[2016-06-29 00:33] orbeckst commented on #64
working on a fix... just needs testing

[2016-06-29 01:09] pslacerda opened #68 "Automatic tool loading"
I suggest to load the tools automatically as show in the untested code below. It uses `suffix` and `version` options if present. Custom commands can be injected using the `extra`. We can also move the `GromacsCommandMultiIndex._fake_multi_ndx` logic to a function `merge_ndx()` so users can use it like `grompp(n=merge_ndx('site1.ndx', 'site2.ndx')` in any tool they wants.

[code]

[2016-06-29 02:12] pslacerda commented on #68
Just corrected the code above!

[2016-06-29 05:59] orbeckst opened #70 "patch release 0.5.1"
I will make a 0.5.1 bugfix release; in order to stay within the rules of semantic versioning I will rewrite the develop history to move the merged PR #66 *after* the release (because it contains new functionality).

[2016-06-29 19:45] orbeckst commented on #64
I added a test and it looks ok to me. I will merge #67 and then do a 0.5.1 releases as discussed in #70.

[2016-06-29 20:46] #64 closed

[2016-06-29 20:57] orbeckst commented on #70
@Becksteinlab/gromacswrapper :

I released 0.5.1. NOTE: The develop branch was rewritten so when you pull you will likely see changes and if things don't work, you might have to actively rebase your own (see eg [SO: How do I recover/resynchronise after someone pushes a rebase or a reset to a published branch?](http://stackoverflow.com/questions/4084868/how-do-i-recover-resynchronise-after-someone-

[2016-06-29 20:57] #70 closed

[2016-06-29 22:49] orbeckst commented on #61
ping @jandom

[2016-07-06 00:13] pslacerda commented on #49
Just another way, maybe multiple versions can be used as different groups and the user choose the appropriate one using the API, defaulting for the first:

[code]
[code]

And the default can also be `group = grp5.0mpi`. Of course the same approach can be made using YAML instead of INI as you wrote before. Any way wee need to think about inquiring Gromacs 5 commands automatically

[code]

, which I

[2016-07-06 02:19] pslacerda commented on #54
If we put everything at config module inside functions can we just reload calling, lets say, `load_setup('~/.alternative_configuration.cfg')`?

[2016-07-11 06:22] orbeckst commented on #54
That would be useful.

[2016-07-11 07:35] orbeckst commented on #49
I've been looking at [Configurable objects with traitlets.config](http://traitlets.readthedocs.io/en/stable/config.html) and this seems worthwhile thinking about. As I understand it at the moment, the cfg file would then be a Python script that just sets a bunch of attributes on one big `Gromacs` class, e.g.
[code]

This would configure a class named `Gromacs` that could be used as a base class fo

[2016-07-11 16:58] orbeckst opened #72 "new Gromacs release numbering"
From the [next Gromacs release onwards](http://manual.gromacs.org/documentation/2016-rc1/ReleaseNotes/index.html#highlights), Gromacs release numbers will look like **GROMACS 2016** or **GROMACS 2016.1**.

Sigh.

We'll have to deal with this eventually, and there's already a bit of discussion under PR #69  and it's also important for the cfg file #49.

[2016-07-15 02:08] pslacerda commented on #72
I see no need to deal with this specifically as no code uses the release number. Except the PR #69, but doesn't matter either.

[2016-07-15 02:24] pslacerda commented on #9
Here we can use a real C preprocessor (cpp):

* clang or gcc preprocessors: http://stackoverflow.com/a/3917365/199332
* Python implementation: https://github.com/dabeaz/ply/blob/master/ply/cpp.py

I see these options:

* use current preprocessing only if gcc or clang isn't found
* use only cpp.py
* requires gcc or clang and use it

[2016-07-15 02:27] pslacerda opened #74 "use help(gromacs.tool_name) doesn't works in Gromacs 5"
`gromacs.tool_name.help()` works but `help(gromacs.tool_name)` doesn't

[2016-07-17 07:32] pslacerda opened #75 "Improve loading times"
Importing GromacsWrapper take seconds. Most of time was wasted in extracting the help for docstrings. Seems that both running the help commands and communicating to acquire the text takes almost 90% of loading times.

This screenshot was taken while [profiling](https://julien.danjou.info/blog/2015/guide-to-python-profiling-cprofile-concrete-case-carbonara) the `gromacs` package importing:

![callg

[2016-07-18 20:38] orbeckst commented on #74
Funnily enough, in ipython
[code]
works and shows the doc string:

[code]

whereas
[code]

[2016-07-18 20:38] orbeckst commented on #75
I like the idea of loading the doc strings lazily!

[2016-07-21 22:02] orbeckst commented on #72
Yes, you're right, but I wanted it as a reminder.

[2016-07-21 23:02] pslacerda commented on #75
Done =)

[2016-07-21 23:02] #75 closed

[2016-07-21 23:07] pslacerda commented on #74
Funny that `getdoc` works but `help` doesn't. Maybe is related to the fact that properties are being used?
[code]

[2016-07-21 23:48] orbeckst commented on #74
I looked at  https://bfroehle.com/2012/11/08/property-for-doc-attribute/  (see https://gist.github.com/bfroehle/4041015) which proposes a custom `docstring_property` but when I tried it, it didn't not solve our problem, it just makes a class-level doc string available when there's no generated property doc string.

I also looked on StackOverflow but couldn't find an answer.

Given that you have a

[2016-07-22 00:12] orbeckst commented on #68
I will re-open the issue because PR #69 is going to fix it.

[2016-07-22 02:24] pslacerda commented on #74
Nice read, I never heard about the descriptor protocol and just learned a bit about how Python resolve member attributes of an object.

Also very funny, I tried `dostring_property` than set up some breakpoints inside pydoc.py to realize that `help` works on the object's class instead of the object itself (see https://hg.python.org/cpython/file/v2.7.12/Lib/pydoc.py#l1571). It means that `help(1)` i

[2016-07-22 02:32] pslacerda commented on #74
Just committed =)

[2016-07-22 02:32] #74 closed

[2016-07-22 04:00] orbeckst commented on #74
Yes, I agree – changing the docs was the easiest route.

(It is slightly strange behavior that `help()` only shows the class-level doc string. We could perhaps do something very hackish with [class methods](https://julien.danjou.info/blog/2013/guide-python-static-class-abstract-methods) but I didn't find a useable solution and it does not seem worthwhile.... more important things to do.)

[2016-07-22 04:02] orbeckst commented on #72
Added "wontfix"... at least for the moment.

[2016-07-22 04:02] #72 closed

[2016-08-02 23:56] orbeckst commented on #9
I am not sure if it's worth the effort to do the parsing. The fine folks at [ParmEd](https://github.com/ParmEd/ParmEd) have figured out most of it already.

Some rudimentary ITP handling is useful but I think GW should concentrate more on the other aspects and perhaps file formats that are not well supported elsewhere.

I am just leaving this issue open so that if anyone ever wants to use the ITP

[2016-08-03 00:00] orbeckst commented on #39
@ianmkenney got Gromacs working with PR Becksteinlab/MDPOW#44 (see Becksteinlab/MDPOW#41).

[2016-08-03 00:03] orbeckst opened #79 "install Gromacs in Travis CI"
Install
- [ ] Gromacs 5.1.x
- [ ] Gromacs 4.6.7
so that we can run a build matrix.

Needed to complete #39.

See Also: PR Becksteinlab/MDPOW#44 and issue Becksteinlab/MDPOW#41.

[2016-08-03 00:03] orbeckst commented on #79
@ianmkenney please apply your magic from Becksteinlab/MDPOW#44 !

[2016-08-03 00:05] orbeckst commented on #79
Once PR #69 is merged, we won't need a fancy cfg file anymore because tools will be autoloaded.

[2016-08-03 00:15] orbeckst opened #80 "remove docs in gh-pages branch"
http://gromacswrapper.readthedocs.io/ works so we don't really need to build our own docs at http://becksteinlab.github.io/GromacsWrapper/ anymore

- [x] remove the gh-pages branch
- [x] remove wiki docs on manually updating the branch

[2016-08-03 01:09] ianmkenney commented on #79
Will do!

On 08/02/2016 05:03 PM, Oliver Beckstein wrote:

[2016-08-03 01:46] pslacerda opened #81 "Proposal for a MDP repository"
What do you think about the idea of create a repository of .mdp files? It may be very helpful.

Maybe not the ones we are using right now. I don't have many in hand as I'm not doing many simulations these days (mostly a programming guy). The .mdp options keep changing and some old files I have are already somewhat outdated.

There isn't so many kinds of .mdp out there. We may create a site where u

[2016-08-03 01:51] pslacerda opened #82 "Split the plugins into a separated repository"
We can move the plugins to a separated repository, it will be cleaner and make easier to move just the main code to Python 3.

[2016-08-03 01:57] pslacerda commented on #79
With tests in place we can go wild guaranteeing that it still works.

[2016-08-03 09:12] #79 closed

[2016-08-03 11:12] orbeckst commented on #79
Yes, that's the idea. But first we need to clean up the existing tests and add a few new ones.

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2016-08-03 23:24] pslacerda commented on #82
Based on [namespace packages]][1] we can make the plugins into a separated repository keeping it at the same `gromacs` namespace.

1. Remove the `gromacs/analysis/plugins/` directory
2. Delete the line `import plugins` from `gromacs/analysis/__init__.py`
3. Install the whole package
4. Install the [plugins pakcage][2]

Now we can

[code]

from a separated repository =). Or is better keep the `grom

[2016-08-04 23:41] pslacerda commented on #82
The main importance of plugins are to enable parallel analysis right? I heard about some guys that parallelized frame-by-frame analysis splitting the trajectories and submitting a job for each part then combining the results. They used Spark to do it on multiple computers but I don't go that far:

[code]

With this very simple trick is possible to enable parallel analysis. The operating system tak

[2016-08-04 23:45] pslacerda commented on #82
So remains to do a xvg joiner. It is far from be my favorite file format but is a matter of write the first fully then write the remaining ones removing the header.

[2016-08-05 04:26] pslacerda commented on #82
Some analysis as RMSD and RMSF requires a same fixed reference (i.e. `-s` option) to make sense. In others analysis a reference isn't needed.

[2016-08-05 06:13] orbeckst commented on #82
I am totally happy to move the plugins into their own name space.Name space packages are a bit tricky (I think @dotsdl can attest from datreant). As far as I know, you'd then need to package everything else under a second namespace, eg gromacs.core. We might still be able to monkey-patch the tools into the top level, though. So maybe for GW, namespace packages would be useful. We could then also m

[2016-08-05 06:17] orbeckst commented on #82
Regarding analysis and parallel analysis: We are almost exclusively using [MDAnalysis](http://mdanalysis.org) nowadays. Combine it with pandas for time series analysis and plotting with matplotlib/seaborn.

Parallel analysis is still tricky. The blocked trajectory scheme is solid in principle. The main problem seems competing disk access – this tends to kill performance and sets a limit to how man

[2016-08-06 20:49] pslacerda commented on #82
Probably because of this nobody parallelized Gromacs analysis tools. RMSF for example also seems I/O bound at least [here][1].

Maybe are namespace packages tricky because every package need to [declare itself as such][2]? This isn't a problem here as we will have only one or two separated packages (`gromacs.analysis` and `gromacs.fileformats`). Regarding analysis plugins we can instead ignore met

[2016-08-06 22:45] pslacerda commented on #82
That example doesn't really seems I/O bound!

[2016-08-07 17:52] orbeckst commented on #82
I definitely support some form of namespace packaging. The S/O post http://stackoverflow.com/questions/1675734/how-do-i-create-a-namespace-package-in-python/1676069#1676069 makes it look pretty straightforward and it can be done in a Python 2 and 3.3+ compatible way.

I'd like to hear @dotsdl 's opinion because he went through this for [datreant](http://datreant.org), see datreant/datreant.core#35

[2016-08-08 02:35] pslacerda commented on #82
We can make `gromacs.analysis` deprecated. Or if it's legacy then we just drop it.

`recipes`, `fileformats`, `management` and `analysis` may deserve a separated package each. But `tools`, `config` and `utilities` can be at the same repository and doesn't need monkey patching or whatever.

As gnuplot, XVG is an almost complete language and Gromacs usage is very specific to plot one or two series a

[2016-08-16 07:07] orbeckst commented on #81
Creating a repository always comes with responsibility. In some ways, shipping MDPs with GW is already a bit of a burden but given it's hackish nature (and the convenience for me...) made it ok. Building good repositories is not that easy – we created [Lipidbook](http://lipidbook.bioch.ox.ac.uk/) and [Ligandbook](http://ligandbook.org/) and that was hard work to get right. [CHARMM-GUI](http://www.

[2016-08-16 07:13] orbeckst commented on #80
Deleted gh-pages and wiki instructions for updating.

[2016-08-16 07:13] #80 closed

[2016-08-30 06:32] #68 closed

[2016-08-31 06:06] orbeckst commented on #54
Note that with #68 solved you can just leave the whole `[gromacs]` section *empty* and load whichever Gromacs you like into your environment. GW will pick up all the standard tools.

[2016-09-05 23:09] orbeckst opened #84 "release 0.6.0"
We should release 0.6.0 soon.

This issue will collect all comments and discussions.

- [x] release set
- [x] CHANGES
- [x] GitHub release
- [x] pipy packages
- [x] RTD

[2016-09-06 16:58] orbeckst opened #85 "run.find_gromacs_command() fails if arg is not a list"
See https://github.com/Becksteinlab/MDPOW/issues/36#issuecomment-243002309 - should probably wrap in `utilities.asiterable()`.

[2016-09-09 06:53] #85 closed

[2016-09-09 06:59] orbeckst commented on #54
Moving to a later milestone because the simplest solution is to not put any specific gromacs information into the cfg file and just source the Gromacs environment that you want manually and then let autoloading do its magic.

[2016-09-09 07:00] orbeckst commented on #47
Mainly for the top tests #61 but they are currently being skipped (PR #86) so it is not urgent and moved to later milestone.

[2016-09-09 07:01] orbeckst commented on #47
For future reference: use py.test tmpdir http://doc.pytest.org/en/latest/tmpdir.html

[2016-09-09 07:52] #65 closed

[2016-09-09 07:54] orbeckst commented on #61
In dd2c9a1 I marked the top tests with SKIP until someone finds the time to look at them.

[2016-09-09 07:55] orbeckst commented on #39
Tests passing and coverage properly reported.

[2016-09-09 07:55] #39 closed

[2016-09-09 09:12] orbeckst commented on #84
@Becksteinlab/gromacswrapper – we have a new release. Hooray.

[2016-09-09 09:12] #84 closed

[2016-09-13 08:19] orbeckst opened #89 "cbook.grompp_qtot broken with Gromacs 5"
`cbook.grompp_qtot` fails because `-doc grompp wrapper that only warns on failure but does not raise :exc:`GromacsError` is passed as an argument to `grompp`

[2016-09-13 08:51] orbeckst commented on #89
Closed with #90.

[2016-09-13 08:51] #89 closed

[2016-09-13 17:28] orbeckst opened #91 "patch release 0.6.1"
@Becksteinlab/gromacswrapper : The 0.6.0 release contains a number of annoying little bugs and I want to push out a bug fix release in the next few days, probably end of the week or even earlier if there are no screams of "this has to go in".

If there's anything that you think needs to be *fixed* right away (no new features or API breaks) then comment on this issue and mark issues/PRs with the *0

[2016-09-13 17:30] orbeckst commented on #16
This issue will become moot with #82 (removal of plugins into a separate repo) and can then be handled there (depending on demand).

[2016-09-15 23:32] orbeckst commented on #91
I'll package the 0.6.1 release tomorrow (Friday).

I found 0.6.0 had lots of little issues in the un-tested code (`gromacs.setup`, `gromacs.cbook`, all pretty fragile), especially when running with Gromacs 5. After a bit of using it I think I caught most of the obvious issues (in particular the stupid `-doc` argument bug) so 0.6.1 should be broadly usable.

[2016-09-17 00:28] orbeckst commented on #61
I brought the tests in line with the rest (using pytest and tmpfile #47) but pretty much all the essential tests fail. They are currently marked as **xfail** (excpected failure) and contain an error message linking to this issue.

[2016-09-17 00:32] #47 closed

[2016-09-17 01:25] orbeckst commented on #91
release 0.6.1 is out

[2016-09-17 01:25] #91 closed

[2016-09-19 22:34] orbeckst opened #96 "test Gromacs 2018"
We need to test _Gromacs 2018_.
- [x] Gromacs 2018 conda package (PR #127 )
- [x] add tests to travis matrix
- [x] fix tests... possibly raise new issues

EDIT: use 2016 instead of 2018

[2016-09-22 19:00] orbeckst commented on #54
@pslacerda – autoloading works so well, maybe instead of reloading the whole config file we could clean the environment of GW (new `purge_environment()` function?) and then reload via the GMX file mechanism. (This probably mostly works already even without purging because envvars will just be overwritten. But I haven't tested it.)

In 0.6.x we are also honoring the *release* (although that is not

[2016-09-22 19:00] #54 closed

[2016-10-18 00:52] orbeckst commented on #96
@ianmkenney created https://github.com/Becksteinlab/conda-gromacs-2016

[2016-11-09 23:50] mohebifar opened #98 "Invalid conversion specification when doing itp.write"
I have this piece of code for reading an ITP file, modifying it and writing a new one. I have taken out the modification part because it doesn't work anyway:

[code]

But I get this error:

And the error comes from [itp.py#518](https://github.com/Becksteinlab/GromacsWrapper/blob/7e8fe136f842d37aeca5532a78ca3dfa61c5d62f/gromacs/fileformats/itp.py#L518). However, version 0.6.0 works. So I think the

[2016-11-10 00:55] orbeckst commented on #98
Thanks for reporting.

If you already have an idea for how to fix it, submit a pull request, please!

[2016-11-10 16:19] mohebifar opened #99 "numpy.isnan raises TypeError for atom types"
Numpy raises a TypeError when it doing an `isnan` test on string values such as atom types. ([itp.py#411](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/fileformats/itp.py#L411))

[2016-11-11 20:28] orbeckst commented on #98
@mohebifar we very much appreciate your fixes! But I do need to tell you that the ITP parser has various issues #5, #6, #8, #9  (with #6 being particularly problematic), and over the years there has been not very much drive to fix them. Of course, you'd be most welcome to work on any of them or to come with your own solution.

But there might also be other projects that can help you do thing that

[2016-11-11 20:36] orbeckst commented on #8
There is now (since around 0.5.0)  a TOP parser that reads complete preprocessed top files but the current tests fail #61.

[2016-11-12 17:43] #98 closed

[2016-11-12 17:43] #99 closed

[2016-12-29 01:10] dotsdl commented on #44
I have good motivation to knock this one out with [`alchemlyb`](https://github.com/alchemistry/alchemlyb) development. I'll make a python3 branch so I can get tests via travis easily.

[2017-01-27 01:24] orbeckst commented on #96
@ianmkenney can you enable Gromacs 2016 testing for GW, please?

[2017-02-05 20:58] frchalaoux opened #105 "How to plot"
Hi All,

Have you a snippet that show me how to plot a simple xvg file with GromacsWrapper API ?

My first test with the API documentation stay quiet :

[code]
FR.

[2017-02-05 21:50] PicoCentauri commented on #105
Hey frchalaoux,

are you running in an _jupyter notebook_ or in an _ipython_ session? There you can try to add the magic command `%matplotlib inline`.

Best

[2017-02-07 06:35] orbeckst commented on #105
Either use the [%matplotlib](http://ipython.readthedocs.io/en/stable/interactive/plotting.html) magic command https://github.com/Becksteinlab/GromacsWrapper/issues/105#issuecomment-277552539 or explicitly request the figure: You might have to do a
[code]
or save the figure to a file
[code]

[2017-02-10 15:24] frchalaoux commented on #105
Perfect guys, It works with both  ;-)

I tested xmgrace these last months but was not very happy with certains capabilities. It helped me to convince with nice figures but now I have to automate all these things with matplotlib/Pandas, etc ... cause MD become my daily bread.

Thanks.

[2017-02-10 15:24] #105 closed

[2017-02-10 18:30] frchalaoux opened #106 "How to use decimate_mean"
Hi,

I don't understand what are the 'a' and **kwargs arguments of decimate_mean.
Have you an real example how to use decimate_mean(a, maxpoints, **kwargs) ?

Cheers,
François-Régis Chalaoux.

[2017-02-11 03:25] orbeckst commented on #106
Did you have a look at http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xvg.html#plotting ? See also [decimate()](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xvg.html?highlight=xvg#gromacs.fileformats.xvg.XVG.decimate).

If the docs are still unclear just ping me again.

[2017-02-11 03:30] orbeckst commented on #106
For [decimate()](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xvg.html?highlight=xvg#gromacs.fileformats.xvg.XVG.decimate):
* `a` is the array that you are coarsening.
* `maxpoints` determines how many values the coarsened array will have (it is one of the kwargs)

Under the hood it uses [numkit.timeseries - Coarse graining time series](http://gromacswrapper.readthedocs.

[2017-02-11 10:20] frchalaoux commented on #106
In my case I want to obtain an average curve of my pressure along the time, so 'a' should be the pressure column from the xvg file, i.e column[1] ? Have you an example of 'a' ?

[2017-02-11 16:09] orbeckst commented on #106
If you just want to plot, use `xvg.plot()` with `method` and `maxpoints` (using the [example](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xvg.html#examples)):
[code]
![plot_mean_100](https://cloud.githubusercontent.com/assets/237980/22855183/486c3a6a-f041-11e6-86e0-8a1a58af9b90.png)

The `xvg.decimate()` method itself takes a 1D or 2D array as input. A 1D array is turne

[2017-02-11 23:33] frchalaoux commented on #106
Thanks a lot Oliver I will sleep happy tonight, It Works perfectly. Yours examples and explanations should be introduced in the doc.

[2017-02-12 10:19] frchalaoux commented on #106
Ok decimate is ok for me, I can produce arrays that I can manipulate then plot with xvg.plot. Usefull.

[2017-02-12 10:26] frchalaoux opened #107 "How to retrieve header information from xvg files"
Hi,

I would like to plot with title, x and y units, etc ... (all this information is written in the xvg header). Is there a way to do it ?

[2017-02-12 21:57] frchalaoux commented on #106
Can someone show me how to add a label or a legend to a xvg plot object ? I can't find how to pass  **kwargs to xvg.plot() method.

[2017-02-12 23:10] frchalaoux commented on #107
I did with an external function but as in #13 cause it seems it is not still implemented.

[2017-02-12 23:12] frchalaoux commented on #106
It works now for example to add a label:

pressure.plot(label="Pressure")
plt.legend(loc='upper left')
plt.show()

I close until ...

[2017-02-12 23:12] #106 closed

[2017-02-13 03:21] orbeckst commented on #107
Please create a PR so that it can be reviewed.

[2017-02-14 07:19] frchalaoux commented on #107
Ok, I will to switch from Mercurial to Git then I will create the PR.

[2017-02-14 07:19] #107 closed

[2017-02-18 19:08] dotsdl commented on #82
My vote, FWIW: keep it simple. I think cutting out complex analysis entirely is a good idea, especially if this isn't really getting any use these days. I'd rather have the library give an interface in Python to the GROMACS tools and nothing more, since we already have enough things to maintain these days that do just about everything else, but with more flexibility.

From my experience with `datr

[2017-02-19 22:38] orbeckst commented on #82
I think everyone is in agreement there. Just needs to be done...

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-02-20 21:17] dotsdl commented on #82
@orbeckst in that case can I focus on this for an afternoon or so? It'll be a massive PR (mostly removing an entire chunk of the library), but it will really help me finish up #44 so we can move on.

[2017-02-20 22:01] orbeckst commented on #82
Yes, please do.

Can you dump what you cut out into a separate repo? It's going to look like a junk yard but it will give us a way to go back to it if ever need to (without digging into the history).

[2017-03-13 13:04] frchalaoux opened #108 "gromacs.grompp output in my Jupyter nootbook"
Hi all,

I use gromacswrapper 0.6.2. and gromacs 2016-1

Neither,
gromacs.grompp('v', f="ions.mdp", c="solvate_clean.gro", p="topol.top", o="ions.tpr")
or
gromppy = Grompp(v=True, f="ions.mdp", c="solvate_clean.gro", p="topol.top", o="ions.tpr")
gromppy.run(v=True)

writes into the output of my Jupyter nootbook ('v', or v=True).

By cons, It writes in an ipython session.

Did I forgot something ?

[2017-03-14 04:33] orbeckst commented on #108
Have a look at the options for `stdout` and `stderr`  under [Input/Output](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/core.html#input-output-label) – *maybe* that is going to help.

By default we do write to stderr and stdout (unless you changed some of the flags – [Input/Output](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/core.html#input-output-label)) so maybe th

[2017-03-14 14:52] frchalaoux commented on #108
Thanks, I will investigate these tracks but there is already a problem with the ipythonkernel=4.3.1.
To be continued ...
FR.

[2017-03-14 18:26] MamtaMohan opened #109 "GromacsWrapper via conda"
Hi,

Is it possible to have a conda install of GromacsWrapper?

[2017-03-15 17:30] orbeckst commented on #109
In principle this shouldn't be a problem – @ianmkenney has some experience.

It's just a matter of someone spending the time to  create the conda package. If you have any experience with it (or just want to learn how to do it) you are more than welcome to submit a PR.

As an example you can look at [MDAnalysis/GridDataFormats](https://github.com/MDAnalysis/GridDataFormats/) and its [meta.yaml](htt

[2017-03-16 16:56] MamtaMohan commented on #109
Dear Oliver,

Thank you for your response. I think it is good suggestion.

I have no experience but like to give it a try. It will take me a bit with lot going on. In my opinion conda updates are very clean and easy to manage in their own environment.

Mamta

[2017-03-21 07:42] jandom commented on #61
@orbeckst i just noted the existence of these email in my inbox – sorry thesis-mode – will have a look

[2017-03-21 08:25] jandom commented on #61
@orbeckst jesus i'm seeing i've been the worst person in the universe for not handling this... 1yr, academia timelines... :D

[2017-03-22 17:10] jandom commented on #61
@orbeckst @dotsdl this is ready for review, travis failures seem to be related to some other code

[2017-03-22 17:20] orbeckst opened #111 "split numkit into separate package"
For modularity and maintainability we should move [numkit](https://github.com/Becksteinlab/GromacsWrapper/tree/develop/numkit) into a separate small package.

- [x] remove numkit from GromacsWrapper
- [ ] add a stub that explains where to get the package (once the import fails)
- [x] make separate package that installs with
   - setup.py
   - pypi
   - ~~conda~~ TODO
- [x] is tested separately
- [

[2017-03-22 17:23] orbeckst opened #112 "remove obsolete vmd subpackage module"
The `vmd` package is distributed with GW but it is neither tested nor maintained (no used I suspect).

The package provides functionality to remotely use VMD in server mode. It is interesting if you want to do this kind of thing but is not needed inside GW.

- [ ] removed `vmd` from GW
- [ ] put up as separate repository (for code archaeology...); possibly add a SeeAlso link to the GW docs.

[2017-03-22 17:26] orbeckst opened #113 "remove obsolete staging subpackage"
The [staging](https://github.com/Becksteinlab/GromacsWrapper/tree/develop/staging) subpackage contains some untested and unmaintained (and unused) code to write Gridenengine queueing system submission scripts in Python with staging of input and output files. There are much better and well-maintained solutions for this kind of workflow automation. This code is really of little value today and if an

[2017-03-22 17:28] orbeckst commented on #111
Note that this will require existing code such as MDPOW to explicitly install `numkit`.

[2017-03-22 19:24] orbeckst opened #115 "fix numkit float/int indexing"
The following numkit tests in `test_integration.py` fail
* Test_simps_error.test_odd_const_x
* Test_simps_error.test_odd_const_x_dx

The problem is in `numkit.integration.simps_error()`:
[code]
The argument for reshap (`shapex`) must be an integer or tuple of integers.

# Fix
Probably just
[code]

# Background
* see https://github.com/Becksteinlab/GromacsWrapper/pull/110#issuecomment-288475330 for

[2017-03-22 19:59] dotsdl commented on #115
See #114.

[2017-03-22 23:41] #115 closed

[2017-03-23 10:31] #61 closed

[2017-03-23 10:57] #113 closed

[2017-03-23 11:10] orbeckst commented on #112
Code lives now in https://github.com/Becksteinlab/remote-vmd

[2017-03-23 11:17] orbeckst opened #116 "remove gromacs.manager module"
The [gromacs.manager](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/manager.py) module has always been experimental and is really obsolete with much better workflow management systems (eg fireworks, radical.pilot, ...).

[2017-03-23 11:35] #116 closed

[2017-03-23 17:54] orbeckst opened #118 "RTD build fails / no 0.6.2 docs online"
I hate debugging RTD failures...

No idea why https://readthedocs.org/projects/gromacswrapper/builds/5188013/ fails but locally it builds just fine.

Anyone ( @dotsdl , @jandom , @ianmkenney ) can shed some light on this?

Note:
[code]
builds but then
[code]
Note that it says *Upload_docs command is deprecated. Use RTD instead.* so maybe that's what is supposed to work.

For completeness: I also t

[2017-03-28 08:31] #111 closed

[2017-03-28 10:11] #82 closed

[2017-03-28 10:14] orbeckst commented on #44
@dotsdl the develop branch has been cleaned up (gromacs.analysis gone, numkit separate). If you want to have a go at Py 3 then please do! Note that numkit also needs to become Py3, see Becksteinlab/numkit#1.

[2017-03-29 00:17] orbeckst commented on #16
The plugins were removed in #82 so docs are now a problem in Becksteinlab/gromacswrapper.analysis#2

[2017-03-29 00:17] #16 closed

[2017-03-29 00:20] orbeckst commented on #49
This issue has become pretty low priority because since autodetecting works so well, the config file can be absent or very small.

I am just going to close this with a wont-fix until someone else resurrects it.

[2017-03-29 00:20] #49 closed

[2017-04-10 19:07] orbeckst commented on #118
Apparentlt, pythonhosted is in read-only mode https://github.com/MDAnalysis/mdanalysis/issues/664#issuecomment-293033814 – so we need to sort out RTD or use gh-pages.

[2017-04-11 05:41] dotsdl commented on #118
In f315770 I've added the sphinx conda package to the environment we install. This ensures we get the latest version, since RTD often runs at least a release behind if not more. Looks like builds are working again.

[2017-04-11 05:41] #118 closed

[2017-04-11 16:30] orbeckst commented on #118
Awesome, thanks!

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-04-11 17:04] orbeckst commented on #118
Thanks again. I backported (cherry-picked) your fix onto master and now the 0.6.2 docs are also properly available again.

[2017-05-07 14:26] frchalaoux opened #121 "From dev to dev-py3"
[patchs.zip](https://github.com/Becksteinlab/GromacsWrapper/files/981638/patchs.zip)
Hi All,

I tested Py3 and dev version with gromacs 5.1.2 and Anaconda 3 but without success . So I decided to elucidate some of the errors of the dev (0.7.0) version with gromacs 5.1.2 and Anaconda 3. The result is attached to these 2 patchs. If you give the rights to push it directly in a repository I will do it.

[2017-05-07 18:28] orbeckst commented on #121
Hi @frchalaoux , python 3 patches are *very welcome* as the next goal is Py3 #44 – please submit a pull request and we start with reviewing the PR and once everything is good, we merge.

I am closing this issue and we continue the discussion at #44 .

[2017-05-07 18:28] #121 closed

[2017-05-07 18:31] orbeckst commented on #44
@frchalaoux please open a *pull request* that includes your patches from #121.

If you haven't done this on GitHub yet:
1. fork the project to your own GitHub account
2. make a branch in your fork (e.g., issue44-py3)
3. create a pull request from your repo against the GromacsWrapper *develop* branch

We'll then start reviewing and discussing the code. The whole review process will happen on your P

[2017-05-08 10:34] frchalaoux commented on #44
@orbeckst
I would like to ask you for advice to decide if my starting architecture is practitable ? :
- A fork of your GromacsWrapper on my Github (my repo Github)
- A branch named issue44-py3 in my Github GromacsWrapper repository
- A local clone of my Github fork on my local machine to work on the code

And now how to sync "**My** Github GromacsWrapper repository" with "**Your** Github GromacsWr

[2017-05-08 10:45] orbeckst commented on #44
All sounds very sensible. Once you have your local repository, do the following:
[code]

(or use `https://github.com/Becksteinlab/GromacsWrapper.git` instead of `git@github.com:Becksteinlab/GromacsWrapper.git` if you prefer https.) This adds a remote repository `gw` (you can use any name that you loke, just don't choose `origin`, which what *your* fork is being called by default).

You can then pu

[2017-05-08 21:45] frchalaoux commented on #44
@orbeckst
Thanks a lot for your help, this seems to work according to my first test and confirm this useful article that goes in the direction of my questions: "https://help.github.com/articles/fork-a-repo/".
...
Cheers,
FRC.

[2017-06-26 00:55] luancarvalhomartins opened #123 "setup.py:energy_minimize ignores mdp parameter"
In setup.py, line 662:

`mdp = deffnm+'.mdp'`

This overwrites user-supplied mdp parameter.

[2017-06-26 09:15] orbeckst commented on #123
[Yes](https://github.com/Becksteinlab/GromacsWrapper/blob/develop/gromacs/setup.py#L662) – if you want to provide a PR I am happy to merge it. I won't be able to work on it during this week.

[2017-06-26 19:02] theavey opened #124 "Using differently named gromacs commands"
My installation of gromacs has commands named, for example, `gmx_mpi` (all ending `_mpi`). These then get used in this tools as, for example, `gromacs.grompp_mpi`. This normally works fine for me, but when trying to import `gromacs.setup`, there are two commands that are issues: one on line 585 of  `cbook.py` and one on line 163 of `setup.py`. One calls `tools.Grompp` (which for me needed to be `t

[2017-06-26 21:25] orbeckst commented on #124
I can't think of a pretty way to fix this. If you know of a good way to handle this let me know!

However, I can think of a really rough way: Before you start, make aliases for the offending commands:
[code]
Does this work?

[2017-06-27 19:24] luancarvalhomartins commented on #123
I can do so, but only Friday to Sunday. Would you rather prefer `setup.py:energy_minimize` to try to alter user-supplied mdp file through `cbook.py:editmdp` or to use it as is? I tend to think that the former allows more flexibility.

You are welcome.

[2017-06-28 02:51] orbeckst commented on #123
I would 'use as is'.

Whenever you submit a PR is fine. It's open source, you contribute when you can. (And you will be listed as an author of GW).

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-10-10 22:10] orbeckst commented on #124
Closing (no further feedback).

[2017-10-10 22:13] orbeckst commented on #108
Closing, no further comments. Please re-open if necessary.

[2017-10-10 22:13] #108 closed

[2017-10-10 22:14] orbeckst commented on #81
I am going to close this issue as there hasn't been any recent development. We can re-open if there's enough interest.

[2017-10-10 22:14] #81 closed

[2017-10-10 22:39] orbeckst commented on #82
Updated https://github.com/Becksteinlab/GromacsWrapper/wiki/Analysis-plugins

[2017-10-10 22:45] orbeckst commented on #124
I added your question to https://github.com/Becksteinlab/GromacsWrapper/wiki/Questions-and-Answers

[2018-03-24 15:34] lanselibai opened #125 "How to use GW to process ss.xpm file of secondary structures (ss)?"
Sorry I am new to the GW. I have successfully installed it on PyCharm. What next should I do?

I tried `import GromacsWrapper` but got `ModuleNotFoundError: No module named 'GromacsWrapper'`

I also tried `gromacs.g_hbond(s=TPR, f=XTC, g="hbond.log", hbm="hb.xpm", hbn="hb.ndx")` but got `NameError: name 'gromacs' is not defined`

I want to import my ss.xpm file, then I can get an numpy array which

[2018-03-24 20:26] orbeckst commented on #125
You have to import it as
[code]

Reading a xpm file:
[code]
See the docs for [XPM](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xpm.html) for more details how to work with the class.

[2018-03-24 20:33] orbeckst commented on #125
To get the "33th residue at 22th time frame " do
[code]

Note that the `xpm.array` contains the entries
[code]

[2018-03-25 11:24] lanselibai commented on #125
Sorry, both `import gromacs` and `import gromacs.formats` could not work on both `PyCharm` and `IDLE` with `SyntaxError: invalid syntax`

`import gromacs` on `PyCharm`:
[code]

`import gromacs.formats` on `PyCharm`:
[code]

[2018-03-25 11:51] lanselibai commented on #125
Can I ask about the `Chain_Separator`? My protein has two chains, light chain (LC) from 1-214, heavy chain (HC) from 215-442. `xpm.yvalues` outputs 1 to 443, so there is one `Chain_Separator`. So is the 443th the `Chain_Separator`?

I just want to double confirm that. I also asked question on the Gromacs forum.
https://mailman-1.sys.kth.se/pipermail/gromacs.org_gmx-users/2018-February/thread.html

[2018-03-25 17:50] orbeckst commented on #125
We have not ported GW to Python 3 yet, see issue #44 . I'd like to but haven't had enough time. In principle it should not be hard because GW is pure Python. An initial attempt was PR #101, see comments there. If you work on making it work under Python 3 (while still supporting Python 2) I'd be happy to consider your contribution for inclusion – just submit a pull request (PR) on GitHub.

[2018-03-25 18:06] lanselibai commented on #125
thank you for the effort, I will write my own python3.

[2018-03-25 18:09] orbeckst commented on #125
Regarding `Chain_separator`: as far as I can tell you're right: it inserts an additional "residue". I have an example `ss.xpm` with two chains and each contains 374 residues:
[code]

[2018-03-25 18:10] orbeckst commented on #125
If you fix the things that allow you to import on Python 3 and submit this as a PR then that could be a start.

[2018-03-25 18:15] orbeckst commented on #125
You mean reading the output from the Gromacs commands in the form of XVG files? GW has the [`gromacs.formats.XVG`](http://gromacswrapper.readthedocs.io/en/latest/gromacs/core/fileformats/xvg.html) class. But you can also use the `np.loadtxt()` function if you write XVG files without legends.

You can also run analysis of this kind in MDAnalysis, see
* https://www.mdanalysis.org/docs/documentation_

[2018-03-25 19:17] lanselibai commented on #125
for the MDAnalysis, I have some problems in installing it, and could not solve it at the moment. So writing my own one might be easier.

[code]

[2018-03-25 19:31] lanselibai commented on #125
thank you. I do have ubuntu on VMwarePlayer on Win7. But I do not want to frequently use the ubuntu, as I need to copy and paste the files into it. I am writing my own python3 script to process the xvg/xpm files from gromacs.

[2018-03-25 19:33] orbeckst commented on #125
Ok – I'll close the issue. Feel free to ask it to be re-opened (or re-open it yourself).

[2018-03-27 17:25] lanselibai commented on #125
Hi @orbeckst , I am not sure if I did it correctly.

I used
[code]

So this should output the first time and the second residue. But what I got is `Coil` while it is `G` in the `ss.xpm` file, which should be `3-Helix`. The file is [here](https://github.com/lanselibai/attach/blob/master/ss.xpm)

[2018-03-27 17:56] lanselibai opened #126 "sorry, how can I re-open an old issue?"
I try to open an old issue, but it seems that I do not have the authority. Sorry I post it here as well.

https://github.com/Becksteinlab/GromacsWrapper/issues/125

If I comment on an old issue, can @orbeckst  still see it?

-------------------------------
Hi @orbeckst , I am not sure if I did it correctly.

I used
[code]

So this should output the first time and the second residue. But what I got

[2018-03-27 23:24] orbeckst commented on #126
I reopened #125 .

I also see comments on closed issues.

[2018-03-27 23:24] #126 closed

[2018-03-27 23:50] orbeckst commented on #125
I think you're reading the XPM file wrong. The "G" that you are reading at https://github.com/lanselibai/attach/blob/850cc4255e29ead9ef98f14aa655e99992b67057/ss.xpm#L46 belongs to the second but last residue. The XPM is a bit map with coordinate origin in the lower left corner.
[code]

If you want the original orientation, use `reverse=False`
[code]

If you have evidence that suggests that this is

[2018-03-28 13:35] lanselibai commented on #125
Thank you I got it now!

[2018-04-06 06:37] orbeckst commented on #125
As far as I can tell, your [ss.xpm](https://github.com/lanselibai/attach/blob/850cc4255e29ead9ef98f14aa655e99992b67057/ss.xpm) does not contain an explicit chain separator. It is not listed in the [legend section](https://github.com/lanselibai/attach/blob/850cc4255e29ead9ef98f14aa655e99992b67057/ss.xpm#L17) and when I load it, I also don't see it:
[code]

As far as I can tell, your `ss.xpm` looks

[2018-04-06 11:25] lanselibai commented on #125
Thank you @orbeckst , it is a good idea to use only a PDB file. The outputs are [here](https://github.com/lanselibai/attach/tree/master/ss_pdb). Still, there are 443 residues, and I do not know which one is the chain separator. You can see from the PDB file that there are only 442 residues.

Could you please send me your ss.xpm file?

Where can I find the source code for the do_dssp for different

[2018-04-06 13:42] lanselibai commented on #125
@orbeckst I got the answer from Carsten now:

OK, I found your issue. You are passing your own ss.map over to gmx do_dssp,
which misses the line for the chain separator. If you delete your own ss.map
from the directory where you call do_dssp, then do_dssp will by default use
the one in share/gromacs/top/ss.map, which contains the separator in the
last line. Just checked that with your pdb input an

[2018-04-06 13:45] lanselibai commented on #125
in my case, the chain separator is between the HC and LC. And yes, it is in the order:

442
441
...
216
215
chain separator (i.e. =================)
214
213
...
2
1

[2018-04-06 15:52] orbeckst commented on #125
Glad that this was all explained. Closing.

[2018-04-06 15:52] #125 closed

[2018-04-30 09:04] orbeckst commented on #123
I understood this issue that a user-supplied `mdp` parameter in function `gromacs.setup.energy_minimize(mdp="custom.mdp") is ignored. In fact, this is *not* true and it works just fine with a supplied mdp file. The code is not very clear because the variable `mdp` changes meaning half-way through (sorry). I added a comment to the code and a test for a custom mdp file in PR #128.

(It is true that

[2018-04-30 09:14] #123 closed

[2018-05-08 23:34] orbeckst opened #129 "use Bioconda gromacs packages for testing"
https://bioconda.github.io/recipes/gromacs/README.html says that they have
- Gromacs 4.6.5
- Gromacs 2018

They are missing 5.x and they cannot install multiple versions in parallel but given the issues with our conda packages (see e.g. for 2016 https://github.com/Becksteinlab/conda-gromacs-2016/issues/5, https://github.com/Becksteinlab/conda-gromacs-2016/issues/4, https://github.com/Becksteinlab/

[2018-05-08 23:37] orbeckst commented on #96
This issue will be superceded by #129 but the PR #102 contains various important changes so we need #129 to be completed and then PR #102 is rebased to test Gromacs 2018.

[2018-05-09 17:16] orbeckst commented on #129
Addressed in PR #130

[2018-07-31 01:15] #44 closed

[2018-08-01 22:53] orbeckst opened #132 "Test*.test_mdrun failures under Python 3.x"
The Gromacs 4.6.5 and 2018.2 tests with Python 3.6 fail (see [#274](https://travis-ci.org/Becksteinlab/GromacsWrapper/builds/411547151)), specifically

* TestAmber03star.test_mdrun
* TestAmber03w.test_mdrun
* TestCharmm22st.test_mdrun

(These tests already failed for PR #127 but we merged nevertheless. This issue addresses the required clean up.)

[2018-08-01 22:59] orbeckst commented on #129
We are using bioconda now (PR #127 is merged). The tests for 2018 don't pass yet but we will address this in #96.

[2018-08-01 22:59] #129 closed

[2018-08-01 23:06] orbeckst commented on #96
We are now using bioconda but we need to fix things so that the Gromacs 2018 tests can pass. For the failures see, for example, Travis [#239.3](https://travis-ci.org/Becksteinlab/GromacsWrapper/jobs/410119741)
* Cannot find position restraint file restraint.gro (option -r). (add in tests)
* unclear Gromacs/grompp failures in the same tests that fail in issue #132

[2018-08-02 00:18] orbeckst opened #133 "tools not loaded for Gromacs 2016/2018 in Python 3 on macOS"
When using Gromacs 2016/2018 (the `gmx` command) and Python 3 (and apparently only on macOS) then the tools are not correctly loaded; only `tools.Gmx` appears.

Reason: byte string snafu

[code]
The `subprocess.check_output()` returns a `b` string,
[code]
which, when converted with `str()`, does not maintain the newlines but rather includes them quoted
and then `splitlines()` does not work anymore

[2018-08-02 00:18] orbeckst commented on #133
This was introduced in PR #127 but not caught because we are only testing on Linux.

[2018-08-02 17:17] orbeckst opened #135 "use astropy/ci-helpers"
Switch travis.yml to using [astropy/ci-helpers](https://github.com/astropy/ci-helpers)
- reduces code amount
- better configurability of the travis file
- enables transparent testing of different Python versions on macOS ([not directly supported by Travis CI](https://docs.travis-ci.com/user/languages/python/))

[2018-08-02 20:52] orbeckst opened #137 "make pytest-gmx a local plugin"
In PR #102 we are adding the option to restrict `mdrun` to two threads with the `pytest --low-performance` option. That uses external code from [ianmkenney/pytest-gmx](https://github.com/ianmkenney/pytest-gmx) but this code is not pip-installable so this can be inconvenient for users who want to use it.

CHECK: Do the tests run locally without pytest-gmx

Following https://docs.pytest.org/en/lates

[2018-08-02 20:54] #135 closed

[2018-08-02 21:27] #133 closed

[2018-08-03 00:17] orbeckst commented on #137
Note: as the pytests docs point out, the `conftest.py` has to be either in the directory where `pytest` is run *or* it has to be in the directory that is tested, e.g.
[code]
will work with `gromacs/tests/conftest.py`. This is the chosen setup and we use exactly the above line for Travis CI.

*NOTE*: When testing locally, use something like
[code]

(Under Python 2, pytest-xdist works and one can us

[2018-08-03 01:03] #96 closed

[2018-08-03 01:03] #137 closed

[2018-08-03 01:10] orbeckst commented on #132
It is not yet clear if this is a bug in GromacsWrapper, something in the testing framework, or ... whatever.

Insights are very welcome!

[2018-08-07 17:54] orbeckst commented on #132
This is almost certainly due to something in `scaling.partial_tempering` https://github.com/Becksteinlab/GromacsWrapper/blob/6b87aa8aab299d58666da892382f30caa7435099/gromacs/scaling.py#L126

[2018-08-07 19:49] #132 closed

[2018-08-07 19:57] orbeckst opened #139 "remove fileformats.itp"
We are not going to fix anything in the experimental ITP parser, there are no tests, and whole bunch of issues (#5, #6, #8, #9). ParmEd (with [parmed.gromacs](https://parmed.github.io/ParmEd/html/gromacs.html) solves this problem properly.

- [x] remove fileformats.itp
- [x] remove preprocessor.py (only needed by itp)

[2018-08-07 20:14] orbeckst opened #141 "purge traces of RecSQL"
We don't use RecSQL anywhere anymore. Remove from requirements.txt and sphinx doc objects.

[2018-08-07 21:01] #5 closed

[2018-08-07 21:01] #6 closed

[2018-08-07 21:01] #8 closed

[2018-08-07 21:01] #9 closed

[2018-08-07 21:01] orbeckst commented on #139
closed in PR #140

[2018-08-07 22:04] #141 closed

[2018-08-07 22:05] #139 closed

[2018-08-08 19:33] orbeckst opened #142 "release 0.7.0"
create the 0.7.0 release ([wiki: making release](https://github.com/Becksteinlab/GromacsWrapper/wiki/Preparing-a-release) – needs updating...)
- [ ] CHANGES
- [ ] tags
- [ ] master
- [ ] pypi
- [ ] zenodo citation in README (in 0.7.1 ...)

[2018-08-08 19:35] orbeckst commented on #109
We should consider making a conda package for [bioconda](https://bioconda.github.io/).

[2018-08-08 19:39] orbeckst commented on #109
I created a fork for the bioconda-recipes: https://github.com/Becksteinlab/bioconda-recipes

[2018-08-09 02:37] #142 closed

[2018-08-09 08:48] orbeckst opened #146 "use master branch"
For the development workflow on GW it seems superfluous to have the develop branch.

Let's switch to master as the main branch.

[2018-08-09 09:04] #146 closed

[2018-08-09 09:46] orbeckst opened #147 "JOSS paper"
Write a short software paper on GromacsWrapper for [JOSS](http://joss.theoj.org/).
- [Author instructions](https://joss.readthedocs.io/en/latest/submitting.html) – create a repo and then submit, ~1000 words, see examples
- authors?
  - any contributor (name on a commit)
  - must edit and ok paper

[2018-08-10 15:09] richardjgowers opened #148 "get_GMXRC fails on macOS with brew"
So I'm trying out a "new user experience" and trying to install this from scratch.  So on MacOS there's no conda package for gromacs 2018, so I used brew.

I get this failure:
`    def test_set_gmxrc_environment():`

(gromacs) [~/code/GromacsWrapper]> which gmx
/usr/local/bin/gmx

Whereas my GMXRC is at:
/usr/local/share/GMXRC

It looks like the code looks in `GMXRC = os.path.join(bindir, 'GMXRC')

[2018-08-11 20:31] richardjgowers opened #149 "MDP write mangles strings"
Roundtripping an mdp doesn't work well, for example:
[code]

Unless this is a `d e s i g n ` ` c h o i c e`?

[2018-08-11 20:43] richardjgowers commented on #147
I'd be interested in this.  I'm going to try and get coverage higher (and find any easy bugs)

[2018-08-12 04:02] orbeckst commented on #147
The more coverage the more Unicode issues raise their head....

So yes, more tests would be super!

--
Oliver Beckstein
email: orbeckst@gmail.com

[2018-08-13 00:45] richardjgowers opened #151 "MDPReader not stripping whitespace (as advertised)"
According to the docs:
[code]

But if a line:
[code]
is read, you get `0 ` as the value (trailing whitespace).  I think this is because the regex just chomps anything that isn't a semicolon (comment character).  (But sometimes it wants to chomp whitespace to get multiple values?)

[2018-08-16 13:24] richardjgowers opened #152 "NDX.write doesn't work"
[code]

[2018-08-16 16:12] richardjgowers opened #154 "utilities.number_pdbs gives IndexError"
when called as `utilities.number_pdbs('myfile1.pdb', 'myfile30.pdb')`

[code]

[2018-08-17 01:27] orbeckst commented on #152
closed in PR #153

[2018-08-17 01:27] #152 closed

[2018-08-17 01:27] orbeckst commented on #154
fixed in PR #155

[2018-08-17 01:27] #154 closed

[2018-08-17 01:29] orbeckst commented on #148
Btw, please just ping me if there's no reply in a day or two –  I only see issues when I check various GitHub dashboards and there's not always time in the day available for indulging in such activity.

[2018-08-17 01:39] orbeckst commented on #147
@pslacerda @jandom @kain88-de @dotsdl @whitead @richardjgowers  @ianmkenney @AndySomogyi  @PicoCentauri @mohebifar – thank you for contributing to GromacsWrapper. I'd like to write a short [Journal of Open Source Software](http://joss.theoj.org/) paper. *If you are interested in being an author on this mini-paper then please reply on this issue.*

At a minimum, you will need to read the draft of t

[2018-08-17 03:14] AndySomogyi commented on #147
Hi Oliver.

I not sure I’ve contributed a huge amount, but I’d very much like to help in writing and editing a paper. Let me know what you’d like me to do.

Sent from my iPhone

[2018-08-17 09:02] PicoCentauri commented on #147
Following @AndySomogyi I would also be happy if I can contribute anything to the paper!

[2018-08-17 09:33] pslacerda commented on #147
Of course I want!

I'm had almost forgot about MD but in the last months I did some modelling and I very want to do more (and submit the JOSS paper).

If you have Telegram would be nice to chat there (I can create a group) and my email is the one I sign the commits.

[2018-08-17 17:10] richardjgowers commented on #148
Yeah so maybe brew is wrong, but I do think we should cater for people that lazily install gromacs like me :) I'll do a fix

[2018-08-17 18:09] orbeckst opened #156 "codecov shows develop by default"
We recently switched GW to using master but codecov still thinks that develop is the default. Therefore, our badge and the [codecov GW landing page](https://codecov.io/gh/Becksteinlab/GromacsWrapper/) show the outdated develop branch.

Instead it should represent the [codecov master](https://codecov.io/gh/Becksteinlab/GromacsWrapper/branch/master).

Supposedly, [Codecov uses the repository default

[2018-08-17 18:09] orbeckst commented on #156
As a workaround I will manually set the *master* branch in a new `.codecov.yml`.

[2018-08-17 18:58] orbeckst commented on #156
This did not fix the issue. Codecov is still displaying outdated develop.

Not really sure how to fix it properly.

I can always switch the badge but I don't like this workaround.

[2018-08-17 19:03] orbeckst commented on #156
The branches overview still shows that *develop* is the default branch (even though I deleted develop in GitHub).
![codecov_gw_branches](https://user-images.githubusercontent.com/237980/44284034-06fc2180-a215-11e8-987e-094f0ead1c0b.png)

Clicking on the *develop (default)* marker just leads me to https://docs.codecov.io/docs/codecov-yaml#section-caching-the-repository-yaml where I can find https:/

[2018-08-17 19:05] orbeckst commented on #156
Btw, the new [.codecov.yml](https://github.com/Becksteinlab/GromacsWrapper/blob/master/.codecov.yml) was validated:
[code]

[2018-08-17 19:18] richardjgowers commented on #156
Ah sorry. It might just be cached for a while?
On Fri, Aug 17, 2018 at 2:06 PM, Oliver Beckstein <notifications@github.com>
wrote:

[2018-08-18 01:17] orbeckst commented on #147
I think we can just use the issue tracker for discussion, then everything is in one place. Use this thread for general discussion, open new issues for anything specific and reference `#147` in the new issues in order to link them back to this master issue.

[2018-08-18 18:49] jandom commented on #147
Yup, i'm on board!

[2018-08-20 07:54] orbeckst commented on #156
Follow up: https://codecov.freshdesk.com/helpdesk/tickets/298

[2018-08-20 18:04] ianmkenney commented on #147
I'll contribute to the paper

[2018-08-20 18:36] orbeckst opened #159 "mini tutorial for docs"
The docs should start with a small tutorial that shows how to use GromacsWrapper.

This is also important for the paper #147 because they will review docs together with installability etc.

# tutorial
- installation with Gromacs (can use conda) so that it is completely self contained
- detection and configuration (or rather, how little need there is to configure anything)
- can use the [AdK tutori

[2018-08-20 22:02] richardjgowers commented on #159
one of the places tests are weakest currently is cookbook, any many of those "recipes" I don't understand because they're domain specific.  So if someone could also expand the recipes into regression tests they would win the favour of the coverage gods.

[2018-08-21 00:13] orbeckst commented on #159
Some of the recipes are arcane... and it might be better to just throw them out and just keep the whole thing reasonably clean. I'll have a look at it. Perhaps just make it a separate thing (except for the stuff that is used in `gromacs/setup.py`). Can you open an issue and assign to me, please?

[2018-08-21 00:56] orbeckst commented on #156
Update: codecov now shows _master_ as _default_ and the landing page https://codecov.io/gh/Becksteinlab/GromacsWrapper also shows the [data for master](https://codecov.io/gh/Becksteinlab/GromacsWrapper/branch/master).

I marked the develop branch as deleted (there's a little link at the bottom which I only saw now for the first time) and this seems to also have fixed the badge, at least if I do no

[2018-08-21 04:58] pslacerda commented on #159
Do you have some newbie tutorial for molecular simulation topics?

An approach is to create an executable documentation and verify if the final output is the expected. Some sort of executable markdown would be really nice. It is an tutorial, documentation and also certify code correctness.

If you have some I can convert it in this sort of executable tutorial/documentation/test. Probably to append

[2018-08-21 16:45] orbeckst commented on #159
I don't think that is a worry. The library enabled us to create other packages such as https://github.com/Becksteinlab/MDPOW that has been used in three papers at least. It also contains new code (e.g., in `gromacs/setup.py`). It is useful for constructing workflows (e.g. in https://github.com/Becksteinlab/mdworks). Only recently has there been made a serious attempt at a Gromacs Python API https:

[2018-08-21 16:47] orbeckst commented on #147
@pslacerda was concerned about the suitability of a "thin wrapper" for JOSS. I stated my opinion https://github.com/Becksteinlab/GromacsWrapper/issues/159#issuecomment-414742062 but will repeat it here as it fits better in this thread:

I don't think that is a worry. The library enabled us to create other packages such as https://github.com/Becksteinlab/MDPOW that has been used in three papers at

[2018-08-21 17:03] orbeckst commented on #159
1. Justin Lemkul's (@jalemkul) [Gromacs Tutorials](http://www.mdtutorials.com/gmx/), especially the [Tutorial 1: Lysozyme in water](http://www.mdtutorials.com/gmx/lysozyme/index.html). Justin is working on a manuscript describing the tutorials in depth, which is available pre-publication as [gmx_tutorials.pdf](https://github.com/jalemkul/gmx_tutorials_livecoms/blob/master/gmx_tutorials.pdf). We co

[2018-08-21 17:22] orbeckst opened #161 "new function or data `gromacs.gmx_release` to indicate Gromacs release"
As discussed in https://github.com/Becksteinlab/GromacsWrapper/issues/159#issuecomment-414748067 the user should have a way to learn which release of Gromacs she is running. This could be a module level attribute
[code]
or a function
[code]
that returns the release _string_ from Gromacs, such as *"2018.2"* or *"5.1.2"* or *"4.6.5"*.

## Intended use
Allow user code to make decisions based on the G

[2018-08-22 16:02] pslacerda commented on #159
Then for sure it pass the criteria!

I'm looking towards (2), a good decision is to warn about using version dependent options, but better to really adapt such options if we could. I also prefer (2) instead of (1) because we can adjust it to our needs.

I'll try to work on the executable (and testable) documentation this weekend.

[2018-08-23 22:12] whitead commented on #147
Hi, I'd be happy to help to the article and be listed as a co-author for my small contribution to the repo. I will get the requested info next week. Thanks again to all the contributors for making this useful package!

Regarding acceptance criteria, I also agree that this should pass the criteria. I've needed to cite this tool in my own work and it really enables workflows impossible with Gromacs

[2018-08-23 22:50] orbeckst commented on #159
@pslacerda I am tentatively assigning you to this issue. If you can get started with a PR I am happy to chime in. Also feel free to raise issues in https://github.com/Becksteinlab/AdKGromacsTutorial

[2018-08-24 02:33] pslacerda commented on #159
I'm very happy to adapt the tutorial to GW.

The idea is to execute the code blocks in the tutorial, any instructions needed to setup the environment or to test after all the code was executed goes into comments containing such special code.

So we can just run the tutorial and compare the results with the expected. The code excerpts will be moved from the .rst to individual .py/.sh files that wil

[2018-08-24 02:40] richardjgowers commented on #159
@pslacerda It might be easier to use something like [doctesting](https://docs.pytest.org/en/latest/doctest.html), which does the `.py -> .rst`  transformation you describe but in reverse.  Ie it reads the rst docs and tries to run any code blocks

[2018-08-24 16:06] pslacerda commented on #159
I agree @richardjgowers, would be easier to almost everything. What I'm worried about is to have both tutorials always in sync, would be a bit harder to write a text that cover both languages but is also possible. It also enable to test the original AdKGromacsTutorial.

If you are sure that the tutorials text would diverge too much in order to explain details of GromacsWrapper, than for sure I'd g

[2018-08-24 17:38] dotsdl commented on #147
I have limited bandwidth at the moment, but I'd be happy to contribute to the paper as much as I can. I want to function in a supporting role in building the draft, and am happy to take direction to help distribute the load.

[2018-08-27 06:55] AndySomogyi commented on #147
Am I reading this correctly that the paper should only  about 1000 words?

I'm going to give the other papers there a read, and post some thoughts on how to best describe GromacsWrapper in only 1000 words.

[2018-08-27 07:52] orbeckst commented on #147
Yes!

The reviewers will also look at documentation, try to install it, try to run a simple tutorial (that's why #159 is important), look if we have CI with tests, etc.

The review will happen on the issue tracker. If you find some of the JOSS papers under review then you'll see what typical reviewer comments are.

[2018-08-27 07:55] orbeckst opened #163 "list of software that uses GromacsWrapper"
For the paper #147 it would be very beneficial to demonstrate that GromacsWrapper has been used elsewhere, especially in software or work that can be cited.

Please add to this issue any citation for work that used GromacsWrapper.

[2018-08-27 07:56] orbeckst commented on #163
@AndySomogyi didn't you use GW for your multiscale code?

[2018-08-27 07:58] orbeckst commented on #163
We used GromacsWrapper for the [MDPOW](https://github.com/Becksteinlab/MDPOW) workflow in

1. O. Beckstein, A. Fourrier, and B. I. Iorga. Prediction of hydration free energies for the SAMPL4 diverse set of compounds using molecular dynamics simulations with the OPLS-AA force field. J Comput Aided Mol Des, 28(3):265–276, 2014.
2. O. Beckstein and B. I. Iorga. Prediction of hydration free energies f

[2018-08-27 07:59] orbeckst commented on #163
@dotsdl did you use GW for any of your published papers? Or only for [mdworks](https://github.com/Becksteinlab/mdworks)?

[2018-08-27 12:50] mohebifar commented on #147
I changed only a few lines of the code, and I don't really know much about the whole library's code. I also haven't even used Gromacs for over a year now. However, I would still love to help as much as I can.

I think I can proofread the drafts, but I don't believe it's fair to be listed as a co-author for such a tiny contribution!

[2018-08-27 17:12] orbeckst commented on #147
@mohebifar , my opinion for software papers is that anyone who makes a valuable contribution (i.e., something that gets merged) should be recognized and should have a shot at authorship. If you don't want the additional responsibilities (see top of the issue https://github.com/Becksteinlab/GromacsWrapper/issues/147#issue-349054806) – and some people don't! – or if you don't want to be listed as an

[2018-08-27 18:00] mohebifar commented on #147
Thanks @orbeckst! I definitely want to be an author!

Is there a specific deadline for submission? I have got my master's thesis back from reviewers this week, so there is a little bit of work there that hopefully I will get done by the end of this week. I think I will be able to start working on the JOSS paper next week or a week after that.

[2018-08-27 19:09] jandom commented on #163
Aye – will get to it as soon as i return from my well-deserved holiday trip
to the remote ends of the Carpathian Mountains ⛰ (which will be in 1 week)

On Mon, Aug 27, 2018 at 9:59 AM Oliver Beckstein <notifications@github.com>
wrote:

[2018-08-28 03:31] pslacerda commented on #163
The group that I belong at UFBA/Salvador (or used to because now I'm really on the internet industry) was mostly a pharmaceutical (and biotech) group. Python data structures and error handling is generally too much computing for most of us. Even the software I made wasn't really used by them.

[2018-08-29 10:14] whitead commented on #163
1. Combining Enhanced Sampling with Experiment Directed Simulation of the GYG peptide. DB Amirkulova, AD White. (2018) Journal of Theoretical Computational Chemistry. 17 (03): 1840007.
2. Encoding and Selecting Coarse-Grain MappingOperators in Hierarchical Graphs. C Maghesree, C Xu, AD White. (2018) Submitted (available on arxiv)

[2018-08-29 10:38] whitead commented on #159
In my group, for testing and tutorials we use containers (i.e., Docker) so that users do not need to compile or install programs. This also enables use on Windows, Mac, Linux without difficulty. Would that be useful to do the tutorial? That could avoid the complexities of installing gromacs.

[2018-08-29 17:10] orbeckst commented on #159
Docker is one idea. Do you have publicly hosted container images?

For testing of GW we use Gromacs conda packages (4.6.x exists for macOS and Linux, 2018 only for Linux). If we were to package GW as a conda package #109 then we could make the tutorial set-up as simple as (after installing miniconda)
[code]
(where *gromacswrapper* and its dependencies would also install numpy, scipy, matplotlib).

[2018-08-29 17:12] orbeckst commented on #159
@whitead what would be the first steps for setting up with docker, i.e., what would we write in a tutorial?

[2018-08-29 20:28] whitead commented on #159
You could just type:

[code]
and it would pull a remote container and bring up an ipython terminal with gromacs and gromacswrapper installed on any OS. We could make an official gromacswrapper docker image instead of using mine (whitelab). To do that, you just write a `Dockerfile` with the steps to install gw/gromacs. I happen to have one, so the only step would be for you or me to set-up the dock

[2018-08-30 05:28] pslacerda commented on #159
After some days I got a class that collect `code-block` directives and concatenate them respecting document order specified in the toctree of index.

The class add callbacks on the `doctree-resolved` signal for collect code blocks and onde instance of toctree, and on the `build-finished` to wait until all documents be collected and then concatenate blocks to get a full program compiled from all co

[2018-09-07 09:01] PicoCentauri commented on #163
We currently have a paper in review where I used GromacsWrapper

Philip Loche, Cihan Ayaz, Alexander Schlaich, Douwe J. Bonthuis, and Roland R. Netz. Breakdown of linear dielectric theory for the interaction between hydrated ions and graphene. Physical Chemistry Letters, 2018.

[2019-02-14 16:52] orbeckst commented on #124
Given that @theavey is working on a fix in PR #165 I reopen it.

[2019-03-02 00:14] orbeckst opened #167 "edit_mdp() should use the MDP parser"
As pointed out in PR #164 , the `edit_mdp()` function should use the MDP parser.

This would also reduce extremely cryptic errors such as `gmx grompp: -include is not an option`, which happens when a custom template MDP file is used with `gromacs.setup.MD()` but the template does not contain an `include = ...` line, which `edit_mdp()` tries to replace but fails. The failed replacement is then inte

[2019-03-02 00:16] orbeckst commented on #167
For checking if input is legal: run `gromacs.grompp()` with an empty `empty.mdp` and then parse the resulting default `mdout.mdp` for all parameters that are legal with this version of Gromacs.

Actually, we should just create these lists for supported versions of Gromacs so that the function can also be used without `gmx` being available.

[2019-03-07 20:56] #124 closed

[2019-03-07 21:05] orbeckst commented on #147
Sorry everyone, been occupied with other things. No firm promises on when this JOSS paper is going to happen, but will happen eventually (preferrably in 2019).

[2019-04-09 00:09] orbeckst opened #170 "RTD build fails"
ReadTheDocs now fails the build at the stage
[code]
That's all.

Locally,
[code]
works just fine.

I tried [updating the readthedocs.yml file to version 2](https://docs.readthedocs.io/en/stable/config-file/v2.html), but that didn't help.

[2019-04-11 01:23] orbeckst opened #171 "release 0.8.0"
create the 0.8.0 release ([wiki: making release](https://github.com/Becksteinlab/GromacsWrapper/wiki/Preparing-a-release))
- [x] CHANGES
- [x] tags
- [x] pypi
- [ ] zenodo citation in README

[2019-04-11 01:26] orbeckst opened #172 "test Gromacs 2019"
add Gromacs 2019 to the test matrix

[2019-04-25 02:15] keisuke-yanagisawa opened #173 "'Logger' object is not callable"
Now I'm trying to use it via jupyter-lab (Python 3.7.1), however, it does not work thus far.

[code]

A TypeError happens:

[code]

Do I have to set specific log file name before beginning?

[2019-04-25 02:19] keisuke-yanagisawa commented on #173
My top file has virtual interaction sites thus it is possible a bug overlooked.

[2019-04-29 22:55] #173 closed

[2019-04-29 23:07] orbeckst commented on #170
Possibly similar to https://github.com/rtfd/readthedocs.org/issues/2651 . Reading https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html and noticing that our conda environment installs from two channels, we should try a minimal environment (maybe we don't even need conda).

Do we really need `gromacs` (from bioconda) in order to build the docs?

[2019-04-29 23:18] orbeckst commented on #170
Try minimalist environment in 7dae6fc
- use packages from the docker image
- use gromacs from bioconda

[2019-04-29 23:22] orbeckst commented on #170
success! https://gromacswrapper.readthedocs.io/en/latest/index.html shows the latest docs

[2019-04-29 23:22] #170 closed

[2019-04-29 23:57] keisuke-yanagisawa commented on #173
Thank you for fixing the issue!

[2019-04-30 06:11] #161 closed

[2019-04-30 08:09] #172 closed

[2019-04-30 08:22] orbeckst commented on #171
done

[2019-04-30 08:22] #171 closed

[2019-05-31 10:48] poojitharamachandra opened #177 "MissingSectionHeaderError:"
ConfigParser.MissingSectionHeaderError: File contains no section headers.
file: /home/poojitharamachandra/.gromacswrapper.cfg, line: 1
'404: Not Found\n'

this issue persists in both gromacswrapper 0.8.0 and 0.7.0

any idea why?

the file read is at /home/poojitharamachandra/.local/lib/python2.7/site-packages/gromacs/templates/gromacswrapper.cfg

i had earlier followed instructions on https://gith

[2019-05-31 23:43] orbeckst commented on #177
Can you post the content of the file `/home/poojitharamachandra/.gromacswrapper.cfg` here?

[2019-05-31 23:45] orbeckst commented on #177
Also, try removing `/home/poojitharamachandra/.gromacswrapper.cfg` - you should be able to just
[code]
(or whatever you normally do to work with Gromacs) and GromacsWrapper 0.8 should pick up everything automatically.

[2019-10-11 10:48] Wade2016 opened #178 "how to handle interactive data analysis?"
Hi All,
I am trying to build an automated workflow of my MD project.
In the data processing steps, is there a way to handle interactive options? i.e., in the gromacs.energy() function, how to chose the energy groups?
I was using bash to automation similar procedure, it was quite easy by adding "EOF" or by directly attaching a separate file after the required commend and options.
It would be great

[2019-10-11 14:45] theavey commented on #178
Is this not what you're looking for?
https://gromacswrapper.readthedocs.io/en/latest/gromacs/init.html#simple-usage

[2019-10-12 11:30] Wade2016 commented on #178
Many thanks, it works perfectly now.

[2019-10-12 11:30] #178 closed

[2019-10-25 01:25] orbeckst commented on #177
No more feedback.

[2019-10-25 01:25] #177 closed

[2020-03-16 12:55] rochoa85 opened #181 "Bug in Python3 - Capture Output File"
Hi all

After using the package with python3.5, and activating the 'capture_output' variable to store the output in a file, I got an error about the use of the function 'file', which is not implemented in python3. To locally correct the error I had to modify the file:

~/.local/lib/python3.5/site-packages/gromacs/core.py

And change the only call to the 'file' function by the 'open' function. It i

[2020-06-06 19:53] pacho2 opened #182 "Package installs 'tests' package which is likely a bug in the build system"
This patch fixes it
[code]

[2020-07-03 19:11] orbeckst commented on #181
@rochoa85 thanks for the report. If you want to submit a PR, I'll be happy to review and merge it.

[2020-07-03 19:12] orbeckst commented on #181
P.S.: Sorry for the long time in replying... lot's of other things to do and GromacsWrapper is not a high priority project at the moment but I still consider it maintained.

[2020-07-03 19:14] orbeckst commented on #182
Hm, yes, that's not good.

I think we just need to move `tests` into `gromacs` – just the way that most sane Python packages do.

[2020-07-24 11:57] PolyachenkoYA opened #183 "func.func_name is not used in Python 3"
File `fileformats/xvg.py` has `func_name` which was replaced with `func.__name__` in python 3.0.
I thought it would be safer to run 2to3 on all files so I ran
`2to3 -w ./*`
in `~/anaconda3/lib/python3.7/site-packages/gromacs` and it failed with
`ImportError: cannot import name 'namedtuple' from 'collections' (/home/ypolyach/anaconda3/lib/python3.7/site-packages/gromacs/collections.py)`. Turns out

[2020-07-24 23:23] orbeckst commented on #183
Why do you need to run 2to3? GW runs in Python 3 as well as in 2. Or do you have a particular issue with Python 3, i.e., does XVG fail in some way? If so, raise an issue for that specific bug, please.

[2020-07-28 09:25] PolyachenkoYA commented on #183
I do have an issue with XVG, yes. As I wrote in the initial git-post, XVG
has func_name, but there is no such a thing in 3.0, but there is a
fun.__name__ instead.

On Sat, Jul 25, 2020, 02:24 Oliver Beckstein <notifications@github.com>
wrote:

[2020-07-28 09:50] orbeckst commented on #183
Ok: need to change https://github.com/Becksteinlab/GromacsWrapper/blob/79e5594fd2af8e3f4c04f7d1af8b23bf93ccc113/gromacs/fileformats/xvg.py#L1084 to

[code]

[2020-07-28 10:42] PolyachenkoYA commented on #183
OK, thanks! done.

On Tue, Jul 28, 2020 at 12:50 PM Oliver Beckstein <notifications@github.com>
wrote:

[2020-07-29 01:44] orbeckst opened #185 "CI is broken aka "need to update so that gw works with new packages""
CI dies not pass anymore, issues with
- pandas
- matplotlib

[2020-07-29 07:38] #183 closed

[2020-09-03 16:10] whitead commented on #182
@orbeckst can we just remove the `__init__.py` files instead so `tests` directory is not an installable python module?

[2020-09-03 16:40] orbeckst commented on #182
Absolutely! It was probably as historical oversight from the early days when I _really_ had no clue how to work with Python and tests!

--
Oliver Beckstein (he/him)
orbeckst@gmail.com

[2020-09-03 16:47] orbeckst commented on #182
Reading a bit more about where you're coming from with this question: Although I typically like it when one can run tests from an installed package, I don't think that in this case it's worth it. If the sanest course of action seems to be making it a CI/source only thing then I am ok with it.

We can still package it with the source tar ball, we just won't install it.

Does this sound reasonable?

[2020-09-03 17:22] orbeckst opened #190 "update CHANGES"
The entry for 0.8.1 in CHANGES
https://github.com/Becksteinlab/GromacsWrapper/blob/d43d87ecd3987c77ee5f101bfc49bd675cd782c9/CHANGES#L5-L13 needs to be updated
* add @PolyachenkoYA  as author
* merge the two entries for 0.8.1

[2020-09-03 17:27] #190 closed

[2020-09-15 01:19] #182 closed

[2020-09-15 01:21] #181 closed

[2020-10-03 17:15] dpadula85 opened #191 "How to run mdrun with mpiexec?"
Hello,

I went a bit through past issues and the code, but I can't seem to figure out how to change the configuration file so that mdrun gets called with an mpiexec -n prefix.

Can someone help me?

Thanks,
D.

[2020-10-04 17:45] orbeckst commented on #191
You can use [gromacs.run.MDrunner](https://gromacswrapper.readthedocs.io/en/latest/gromacs/blocks/simulation.html#gromacs.run.MDrunner). This code is not used that often and the implementation and documentation is not great, I am afraid. But perhaps it's useful for you:

You'll  have to derive your own class from `MDrunner`. There isn't a lot of documentation so you have to look at the source code

[2020-10-04 17:54] dpadula85 commented on #191
Thanks,

I had figured out the classes to use to override the default one! Your examples are of great help, and maybe this can be inserted in the docs!

Thanks again,
D.

[2020-10-04 18:04] orbeckst commented on #191
Glad that this was helpful.

I will re-open your issue as a reminder for documentation.

[2021-03-28 11:51] PolyachenkoYA opened #193 "problem with pickle"
The problem: `.names` doubles after interacting with `pickle`, `cPickle` and `dill`.

How to reproduce:

[code]

gives

[code]

So, something wrong happens on the stage of either dumping or loading. It's also the case for `cPickle` and `dill` libs.

[2021-06-08 06:09] orbeckst commented on #193
I think the following happens after unpickling
1. `x.names` shows the content that it had when pickled
2. `x.shape` triggers `x.parse()` (because by default `savedata=False`) so that the array is re-read from disk; on line https://github.com/Becksteinlab/GromacsWrapper/blob/76a80adacaacb082d4c44dccc9e12a41c59f8733/gromacs/fileformats/xvg.py#L496-L498 the column names are _appended_ to `x.names`. N

[2021-06-08 06:12] orbeckst commented on #193
@PolyachenkoYA I am sorry that I haven't replied to this issue sooner. Please feel free to ping me with @orbeckst when you open another issue or PR: create the issue, then add a comment with "can you please have a look @orbeckst " ... and then I get at least a notification. Otherwise it's too difficult to keep track of every open source project that I have code in. Thank you!! ❤️

[2021-06-08 06:36] orbeckst opened #194 "xvg.plot_coarsened fails with incompatible matplotlib colors"
With matplotlib in Python 3,
[code]
fails with
[code]

[2021-06-08 07:44] orbeckst opened #196 "some tests fail with "FileNotFoundError: [Errno 2] No such file or directory: '/home/travis/miniconda/envs/test/bin.AVX2_256'""
Some tests
* Linux 3.6, 4.6.5
* Linux 3.6, 2019
* Linux 3.7, 2019
* macOS 3.6, 4.6.5
* macOS 3.6, 2019

fail with **FileNotFoundError: [Errno 2] No such file or directory: '/home/travis/miniconda/envs/test/bin.AVX2_256'** similar to the following

[code]

Locally, these tests passed with macOS 3.6, 2019.2.

[2021-06-08 08:05] orbeckst commented on #194
The corresponding tests pass now, other failures are due to #196

[2021-07-12 03:26] wehs7661 opened #197 "How to use GROMACS wrapper with `mpirun`?"
I was trying to use Gromacs wrapper on a supercomputer node on Bridges-2. On the login node, where `mpirun` is not required, Gromacs wrapper worked just fine. It was just that the GROMACS commands were decorated with the suffix `_mpi`. (For example, instead of using `gromacs.editconf`, I had to use `gromacs.editconf_mpi`).

However, I found that on an interactive node, where `mpirun -np xx` is req

[2021-07-12 19:56] whitead commented on #197
I believe you can just override the `driver` attribute to change how things are run.

[code]

and then you can call `gromacs.mdrun` as normal.

[2021-07-13 08:55] wehs7661 commented on #197
@whitead Thanks for the reply! I got the error described above right after importing the package and after that, I only had the following modules:
[code]
Therefore, specifying the attribute via `gromacs.mdrun.driver` does not seem to work. (I don't even have `gromacs.mdrun_mpi.driver`.) Also, does this only allow running `mdrun` with MPI or does it also work for any other GROMACS commands as well?

[2021-07-16 01:35] hgandhi2411 commented on #197
@wehs7661 In your .gromacswrapper.cfg file, add a line `append_suffix = no` after you specify your tools and groups. Also, make sure you have only gmx_mpi in your tools. So, your .gromacswrapper.cfg will look something like this:
[code]

[2021-07-16 08:02] wehs7661 commented on #197
Hi @hgandhi2411 , thanks a lot for the reply! I've changed my `.gromacswrapper.cfg` as you suggested. With the parameter `append_suffix` set as `no`, in the **login** node (where `mpirun` is not required), no suffix was appended anymore. However, in an interactive node where I must use `mpirun -np xx`, I still got the same error and some modules were still missing (as described in my previous comm

[2021-07-17 17:24] orbeckst commented on #197
I don't have an immediate answer. But you can try to get more debugging output right from the start by setting the environment variable `GW_START_LOGGING=1` (can be set to any "true-ish" value like true, yes, sure, ...) before importing gromacswrapper, e.g.,
[code]
and then
[code]

Perhaps that gives a hint what happens during the gromacs tool discovery process.

Personally, I haven't used GW in t

[2021-07-20 00:28] orbeckst opened #198 "Python 3 failure on tempfile: TypeError"
https://github.com/Becksteinlab/GromacsWrapper/blob/017b10a8016532ea39f734759ebc816f9484a3aa/gromacs/cbook.py#L747-L748
fails under Python 3 with a `TypeError`.

- [ ] make Python 2/3 compatible
- [ ] add minimal test

[2021-07-20 00:38] orbeckst commented on #198
Possibly similar to 082000093a5ae4c5599add103f3cb6e5279a053d

    utf-8 fixes in cbook and qsub

    - consistently open in binary, decode to utf-8, write to binary (encoded utf-8), following
      Ned Batchelders unicode sandwich https://nedbatchelder.com/text/unipain.html
    - basic coverage for qsub module (but no unicode tests)

[2021-07-20 01:55] orbeckst opened #200 "transition from Travis CI to GitHub actions"
Use the free GitHub actions for CI.

**Important** because we ran out of Travis credits.

[2021-07-21 00:37] #200 closed

[2021-07-21 00:49] orbeckst opened #202 "test multiple GROMACS versions"
In the switch from Travis CI to GitHub actions #200 we started with a minimal setup that does not have all the features as the previous tests. At the moment, only the latest version of GROMACS (2021, no mpi) is tested

Test against other available GROMACS versions in [bioconda/gromacs](https://anaconda.org/bioconda/gromacs/files). We don't have to test all of them always. Perhaps do a monthlt cron

[2021-07-21 00:52] orbeckst opened #203 "test on MacOS"
Since the switch of CI to GitHub actions #200 we are currently only testing on **Linux** runners. There are versions of GROMACS available for MacOS #202 so we should be running at least some tests (Python 2.7 and 3.8) on MacOS runners, too.

The GROMACS versions can be limited, e.g.
- [ ] Python 2.7, GROMACS 2021
- [ ] Python 3.8, GROMACS 2021

for a start.

[2021-07-21 16:57] orbeckst commented on #185
closed with PR #201

[2021-07-21 16:57] #185 closed

[2021-07-21 20:58] #198 closed

[2021-07-21 22:27] orbeckst opened #204 "cut release 0.8.1"
Make a release with recent Py 2/3 fixes.

- [x] Run tests for different GROMACS versions #202
- [x] update docs to indicate tested Python and GROMACS versions

Release
- [x] tag
- [x] upload to pypi
- [x] make GitHub release

[2021-07-21 22:29] orbeckst commented on #196
Seems to have solved itself with solving issue #200

[2021-07-21 22:29] #196 closed

[2021-07-22 06:47] orbeckst commented on #148
Just for anyone looking here: bioconda has macOS GROMACS packages for 2018, 2019, 2020, 2021 https://anaconda.org/bioconda/gromacs/files (although for serious work I'd still compile my own).

I am not sure if the issue with brew persists. I'll tentatively mark this as won't fix but if anyone still considers it a problem please add your voice here and we can reopen.

[2021-07-22 06:47] #148 closed

[2021-07-22 07:45] #202 closed

[2021-07-22 07:45] #203 closed

[2021-07-22 10:59] #191 closed

[2021-07-23 09:10] #204 closed

[2021-08-02 22:19] VOD555 opened #208 "Solvate function doesn't support nn and np input"
Related to https://github.com/Becksteinlab/MDPOW/pull/174
In gromacs, one can add a specific number of ions by using keywords nn and np.
But in gromacs wrapper `solvate` function, ions only can be added with the keywords `concentration`. And `concentration` keywords only works with some specific water models.

[2021-08-04 06:11] orbeckst opened #209 "codecov failure "'Too many uploads to this commit.'""
The GH actions workflow 'test' is now failing with codecov upload problem:
[code]

Probably a codecov problem.

[2021-08-04 06:12] orbeckst commented on #209
There was codecov/codecov-action#228 but that was supposedly fixed.

[2021-08-04 23:23] orbeckst opened #210 "AttributeDict does not support hasattr()"
AttributeDict does not support hasattr() but it should:
[code]

Using ``in`` is a workaround:
[code]

[2021-08-11 17:51] orbeckst opened #211 "stop_logging() fails with NameError"
[code]

[2021-08-11 23:50] #211 closed

[2021-08-24 14:44] MeetXinZhang opened #214 "Can we redirect the output of terminal to .log or .txt file?"
Hi,
 I want to redirect the output of terminal to a new file; they are too many and messy.
thanks!

[2021-08-25 02:23] MeetXinZhang commented on #214
Ok, I got it!

[code]
thanks!

[2021-08-25 02:24] #214 closed

[2021-08-31 09:02] pgbarletta commented on #109
Hi, sorry to revive this issue, but I was wondering if there is a reason why conda is no longer supported.

I'm using conda, since I think it's a better option than pip+virtualenv and I wanted to add GromacsWrapper to my project.

Thanks!

[2021-08-31 17:02] orbeckst commented on #109
@pgbarletta , we never had conda packages for GromacsWrapper. I agree that it would be nice to have. It's just that nobody has gotten around to create the package. If you want to help out you're more than welcome!

Instead of bioconda I would just go with conda-forge.

[2021-09-01 12:05] simonbray commented on #109
I went ahead and created a package, please feel free to try:
[code]

I agree conda-forge would be preferable, but given that GROMACS itself is only available via bioconda at the minute, I went for bioconda.

[2021-09-01 16:02] orbeckst commented on #109
@simonbray fantastic (and you also packaged numkit!) — thank you!

Could you post the links to the recipes, please?

I noticed that GROMACS is a dependency. Often users will have a custom compiled version of GROMACS that they want GW to pick up (eg on a supercomputer). Is there a way to make the GROMACS conda package optional/not automatically installed so that it won't collide with the custom ver

[2021-09-01 16:36] simonbray commented on #109
You're welcome!

They are hosted on bioconda's recipes repo here:
* https://github.com/bioconda/bioconda-recipes/blob/master/recipes/gromacswrapper/meta.yaml
* https://github.com/bioconda/bioconda-recipes/blob/master/recipes/numkit/meta.yaml

That is a good point. I created a PR to remove gromacs from the dependencies list here: https://github.com/bioconda/bioconda-recipes/pull/30357

[2021-09-01 17:54] orbeckst opened #215 "update installation instructions for conda"
With #109 , there are now also conda packages available via bioconda. Add installation instructions
- [x] README
- [x] docs

[2021-09-02 00:09] orbeckst commented on #109
Thank you very much @simonbray !

[2021-09-02 00:10] orbeckst commented on #209
Possibly too many cron CI actions — reduce cron CI to maybe once a week and also do not fail the workflow if codecov fails.

[2021-09-09 21:11] #209 closed

[2021-09-09 21:11] #215 closed

[2021-09-09 21:34] orbeckst opened #217 "release 0.8.2"
Make 0.8.2 release with any bug fixes and docs for installing as a conda package (#109)

- [x] pypi release
- [x] GitHub release (tagged & released)
- [x] bioconda
- [x] announce release (twitter)

[2021-09-09 21:37] orbeckst commented on #217
@simonbray , should I make a PR to update the bioconda recipe https://github.com/bioconda/bioconda-recipes/blob/master/recipes/gromacswrapper/meta.yaml in order to get a new bioconda package or will a bot do this automatically when there's a new PyPi package?

Also, do you have twitter handle that I could use to thank you publicly for making the bioconda packages? I'd add it to the next release tw

[2021-09-10 06:52] simonbray commented on #217
@orbeckst it is done automatically - here is the PR: https://github.com/bioconda/bioconda-recipes/pull/30477

oh, thanks for that, my twitter handle is https://twitter.com/SimonBray18

[2021-09-10 17:49] orbeckst commented on #217
All done https://twitter.com/orbeckst/status/1436386101128622084

Thank you again @simonbray !

[2021-09-10 17:49] #217 closed

[2022-05-02 15:53] orbeckst opened #218 "use gromologist?"
https://gitlab.com/KomBioMol/gromologist is a Python package for handling top and itp files.

[2022-05-25 19:34] ostueker commented on #13
It seems the XVG reader has finally learned to read metadata, names and axis-labels from Gromacs-Generated XVG files. :tada:

However the behaviour is somewhat inconsistent. See for example:

[code]
The first time I access the names and metadata attributes, they are empty, but once I have accessed the array once, they are suddenly populated. :thinking:

Cheers,
ostueker (Oliver S.)

[2022-05-25 20:12] orbeckst commented on #13
The XVGReader does lazy-loading, it only actually reads the file when the array is created.

That's admittedly a bit confusing, especially when it comes to the metadata.

Btw, I probably should have closed this issue when PR #18 was merged, which added some metadata parsing (although not all).

[2022-06-25 10:54] dpadula85 opened #219 "Use of try option with gmx insert-molecules?"
Hello,

I am using gmx insert-molecules through GromacsWrapper. I would need to use the `-try` option of the program, to increaase the number of attempts needed to introduce a new residue. However, I cannot do

`gromacs.insert_molecules( f=my_file1, ci=my_file2, try=100)`

because `try` is a python command.
I also tried
`gromacs.insert_molecules( f=my_file1, ci=my_file2, input=('-try 100')`

but a

[2022-06-28 22:41] orbeckst commented on #219
Hi @dpadula85 , try prefixing with underscore:
[code]
This hack is documented under https://gromacswrapper.readthedocs.io/en/latest/gromacs/core/core.html?highlight=underscore#gromacs.core.GromacsCommand but it's not easy to find.

[2022-06-29 08:04] dpadula85 commented on #219
Hi @orbeckst, as usual my bad for not going thoroughly through the docs. Thanks once again for your help, let me take the occasion to say that I'm a big fan of your tools!

Cheers,
D.

[2022-06-29 23:44] orbeckst commented on #219
No problem & thank you!

(The docs are not particularly good but I don't have time to improve them — any contributions are welcome ;-) ).

[2022-06-29 23:44] #219 closed

[2022-07-28 05:11] orbeckst commented on #13
At least some of the metadata are read (added in PR #18). If anything else is missing that you'd really want then please open a new issue. Thank you!

[2022-07-28 05:11] #13 closed

[2022-07-28 06:57] lichman0405 opened #227 "Hi there. error for gmx.pdb2gmx()"
I have Gromacs 2022, and I pip install GromacsWrapper.
When I tried to script the following code, it showed me the error:
---------------------------------------------------------------------------------
Python 3.9.13 | packaged by conda-forge | (main, May 27 2022, 16:56:21)
[GCC 10.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

                     :-) GROMA

[2022-08-09 20:44] orbeckst commented on #227
Normally, pdb2gmx should find your force field just as if you invoked it from the command line.

Does the following
[code]
work, i.e., running the command manually?

If not, then you probably need to source your `GMXRC` file or do something else so that GROMACS finds what it needs.

Once you get `gmx pdb2gmx` to run successfully, try it through GromacsWrapper again.

[2022-08-19 03:39] orbeckst opened #229 "replace deprecated logger.warn() with logger.warning()"
Replace `deprecated logger.warn()` with `logger.warning()` everywhere.